<div class="flexContainer" fxLayout="column" fxLayoutAlign="center center" style="background-color: rgb(110, 110, 110)">
    <div class="flexContainer" fxLayout="column" fxLayoutAlign="center center" style="background-color: whitesmoke">
        <div class="project-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxFlexAlign="stretch">
            <div fxLayout="column" fxFlex='60' fxFlex.lt-md='80'>
                <div class="slideshow-container">
                    <div class="slide--path-finding-visualizer fade">
                        <img src="assets/images/Projects/path-finding-visualizer/demo_bfs.jpeg" style="width:100%">
                    </div>
                    <div class="slide--path-finding-visualizer fade">
                        <img src="assets/images/Projects/path-finding-visualizer/demo_dijkstra.jpeg" style="width:100%">
                    </div>
                    <div class="slide--path-finding-visualizer fade">
                        <img src="assets/images/Projects/path-finding-visualizer/demo_astar.jpeg" style="width:100%">
                    </div>
                    <div class="slide--path-finding-visualizer fade">
                        <img src="assets/images/Projects/path-finding-visualizer/demo_greedy.jpeg" style="width:100%">
                    </div>
                    <div class="slide--path-finding-visualizer fade">
                        <img src="assets/images/Projects/path-finding-visualizer/demo_bibfs.jpeg" style="width:100%">
                    </div>
                    
                    <!-- Next and previous buttons -->
                    <a class="prev" (click)="plusSlides('path-finding-visualizer', -1)">&#10094;</a>
                    <a class="next" (click)="plusSlides('path-finding-visualizer', 1)">&#10095;</a>
                </div>
                <div style="text-align:center">
                    <span class="dot--path-finding-visualizer" (click)="currentSlide('path-finding-visualizer', 1)"></span>
                    <span class="dot--path-finding-visualizer" (click)="currentSlide('path-finding-visualizer', 2)"></span>
                    <span class="dot--path-finding-visualizer" (click)="currentSlide('path-finding-visualizer', 3)"></span>
                    <span class="dot--path-finding-visualizer" (click)="currentSlide('path-finding-visualizer', 4)"></span>
                    <span class="dot--path-finding-visualizer" (click)="currentSlide('path-finding-visualizer', 5)"></span>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" fxFlex='40' fxFlex.lt-md='80'>
                <p style="color: black; font-size: 50px; align-items: center; margin:0px; max-width: 400px; margin-left: 10px; margin-right: 10px;" [ngStyle.lt-md]="{'font-size': '30px'}">
                    <a href="https://github.com/tka-andrew/PathFindingVisualizer_CPP" target="_blank" rel="noopener noreferrer">Path Finding Visualizer</a></p>
                <p style="color: black; font-size: 22px; align-self: center; text-align: justify; max-width: 400px; margin-left: 10px; margin-right: 10px;" [ngStyle.lt-md]="{'font-size': '15px'}">
                    A desktop application developed using wxWidgets to visualize some path finding algorithms written in C++, such as Dijkstra, BFS, A* Search, 
                    Greedy Best First Search & Bi-directional BFS.
            </div>
        </div>
        
        <div class="project-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxFlexAlign="stretch">
            <div fxLayout="column" fxFlex='60' fxFlex.lt-md='100'>
                <div class="slideshow-container">
                    <div class="slide--path-planning-visualizer fade">
                        <img src="assets/images/Projects/path-planning-visualizer/step1.jpeg" style="width:100%">
                    </div>
                    <div class="slide--path-planning-visualizer fade">
                        <img src="assets/images/Projects/path-planning-visualizer/step2.jpeg" style="width:100%">
                    </div>
                    <div class="slide--path-planning-visualizer fade">
                        <img src="assets/images/Projects/path-planning-visualizer/step3.jpeg" style="width:100%">
                    </div>
                    <div class="slide--path-planning-visualizer fade">
                        <img src="assets/images/Projects/path-planning-visualizer/step4.jpeg" style="width:100%">
                    </div>
                    <div class="slide--path-planning-visualizer fade">
                        <img src="assets/images/Projects/path-planning-visualizer/step5.jpeg" style="width:100%">
                    </div>
                    <div class="slide--path-planning-visualizer fade">
                        <img src="assets/images/Projects/path-planning-visualizer/step6.jpeg" style="width:100%">
                    </div>
                    
                    <!-- Next and previous buttons -->
                    <a class="prev" (click)="plusSlides('path-planning-visualizer', -1)">&#10094;</a>
                    <a class="next" (click)="plusSlides('path-planning-visualizer', 1)">&#10095;</a>
                </div>
                <div style="text-align:center">
                    <span class="dot--path-planning-visualizer" (click)="currentSlide('path-planning-visualizer', 1)"></span>
                    <span class="dot--path-planning-visualizer" (click)="currentSlide('path-planning-visualizer', 2)"></span>
                    <span class="dot--path-planning-visualizer" (click)="currentSlide('path-planning-visualizer', 3)"></span>
                    <span class="dot--path-planning-visualizer" (click)="currentSlide('path-planning-visualizer', 4)"></span>
                    <span class="dot--path-planning-visualizer" (click)="currentSlide('path-planning-visualizer', 5)"></span>
                    <span class="dot--path-planning-visualizer" (click)="currentSlide('path-planning-visualizer', 6)"></span>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" fxFlex='40' fxFlex.lt-md='100'>
                <p style="color: black; font-size: 50px; align-items: center; margin:0px; max-width: 400px; margin-left: 10px; margin-right: 10px;" [ngStyle.lt-md]="{'font-size': '30px'}">
                    <a href="https://github.com/tka-andrew/path-planning-visualizer" target="_blank" rel="noopener noreferrer">Path Planning Visualizer</a></p>
                <p style="color: black; font-size: 22px; align-self: center; text-align: justify; max-width: 400px; margin-left: 10px; margin-right: 10px;" [ngStyle.lt-md]="{'font-size': '15px'}">
                    A desktop application developed using wxWidgets to visualize the path planning process, starting from defining environment geometry and robot geometry, 
                    until generating a path using the graph generated based on the type of decomposition method selected.
            </div>
        </div>

        <div class="project-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxFlexAlign="stretch">
            <div fxLayout="column" fxFlex='60' fxFlex.lt-md='100'>
                <div class="slideshow-container">
                    <div class="slide--image-based-sudoku-solver fade">
                        <img src="assets/images/Projects/image-based-sudoku-solver/demo.jpeg" style="width:100%">
                    </div>
                    
                    <!-- Next and previous buttons -->
                    <a class="prev" (click)="plusSlides('image-based-sudoku-solver', -1)">&#10094;</a>
                    <a class="next" (click)="plusSlides('image-based-sudoku-solver', 1)">&#10095;</a>
                </div>
                <div style="text-align:center">
                    <span class="dot--image-based-sudoku-solver" (click)="currentSlide('image-based-sudoku-solver', 1)"></span>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" fxFlex='40' fxFlex.lt-md='100'>
                <p style="color: black; font-size: 50px; align-items: center; margin:0px; max-width: 400px; margin-left: 10px; margin-right: 10px;" [ngStyle.lt-md]="{'font-size': '30px'}">
                    <a href="https://github.com/tka-andrew/image-based-sudoku-solver" target="_blank" rel="noopener noreferrer">Image-based Sudoku Solver</a></p>
                <p style="color: black; font-size: 22px; align-self: center; text-align: justify; max-width: 400px; margin-left: 10px; margin-right: 10px;" [ngStyle.lt-md]="{'font-size': '15px'}">
                    This is an image-based sudoku solver that takes an image as input, and then uses OpenCV to find out the Sudoku and transform it into a 2D vector, 
                    and then solve it using backtracking algorithm and eventually display a solved sudoku.
            </div>
        </div>
    </div>
</div>