<div>
    <h1>Math Notes</h1>
    <ul>
        <li>Here are some notes related to Maths for me to revise quickly in the future.</li>
    </ul>
    <mat-divider></mat-divider>

    <h3>3-sigma Limits</h3>
    <ul>
        <li>Sigma (σ) is a statistical term representing the standard deviation of a dataset. It measures the dispersion or spread of the data points around the mean.</li>
        <li>One sigma = one standard deviation away from the mean in a normal distribution</li>
        <li>Commonly used sigma values include:</li>
        <ul>
            <li>1-sigma (σ): Represents a range covering approximately 68.27% of the data around the mean in a normal distribution.</li>
            <li>2-sigma (2σ): Represents a wider range covering approximately 95.45% of the data around the mean.</li>
            <li>3-sigma (3σ): Represents an even wider range covering approximately 99.73% of the data around the mean.</li>
        </ul>
        <li>In many fields, such as engineering and quality control, sigma values are used to assess process performance and variability.</li>
        <li>For example, let's consider an example where we have collected stopping accuracy data for a mobile robot. We'll assume that the data is measured in millimeters (mm), and we want to determine the 3-sigma accuracy and 3-sigma precision of the robot.</li>
            <ul>
                <li>List of data: 42, -58, 45, 32, -20, -43, 24, 53, 22, 4</li>
                <li>Mean (μ) = (42 - 58 + 45 + 32 - 20 - 43 + 24 + 53 + 22 + 4) / 10 = 10.1 mm</li>
                <li>Standard Deviation (σ) = √[Σ(xi - μ)² / (n - 1)] ≈ 41.46 mm</li>
                <li>Upper Limit = Mean + (3 * Standard Deviation) ≈ 134.48 mm</li>
                <li>Lower Limit = Mean - (3 * Standard Deviation) ≈ -114.28 mm</li>
                <li>3-sigma accuracy: ±134.48mm</li>
                <li>3-sigma precision: ±(3 * Standard Deviation) = ±124.38mm</li>
            </ul>
    </ul>
    <mat-divider></mat-divider>

</div>