<div class="flexContainer">
    <mat-accordion displayMode="flat">
        <mat-expansion-panel style="margin-top: 5px;">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    General
                </mat-panel-title>
            </mat-expansion-panel-header>
            <button mat-button class="listItem">Refactoring</button>
            <button mat-button class="listItem">Design Pattern</button>
            <button mat-button class="listItem">SOLID Principles</button>
            <button mat-button class="listItem">Coding Practices</button>
        </mat-expansion-panel>
        <h1>Design Pattern</h1>
        <h2>Introduction</h2>
        <p>Design Patterns are blueprints for sctructuring your complex code to make it more managable and extensible.
        Note that you shouldn't use design patterns for simple code.
        </p>
        <h2>Useful Resources</h2>
        <a href="https://refactoring.guru/design-patterns" target="_blank" rel="noopener noreferrer">Detailed catalog and explanations of Design Patterns</a>
    </mat-accordion>
</div>