<div class="flexContainer">
    <main-content-topbar class="flexContentSize" (toggleEvent)="toggleMenu()"></main-content-topbar>
    <div class="flexRemainingSpace" style="overflow: auto;">
        <div *ngIf="showMenu" fxLayout="column" id="responsiveMenu" style="z-index: 200px;">
            <button mat-button class="topbarButtons" [routerLink]="['home']" routerLinkActive="lightThemeRouterLinkActive">Home</button>
            <button mat-button class="topbarButtons">About</button>
            <button mat-button class="topbarButtons">Achievements</button>
            <button mat-button class="topbarButtons">Projects</button>
            <button mat-button class="topbarButtons" [routerLink]="['technicalNotes']" routerLinkActive="lightThemeRouterLinkActive">Technical Notes</button>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>