<div style="height: 100%; display: flex; flex-direction: column;" [ngBusy]="{busy: [busy], backdrop: true}">
    <main-content-topbar class="flexContentSize" (toggleEvent)="toggleMenu()"></main-content-topbar>
    <div class="flexRemainingSpace">
        <div class="flexContainer">
            <div *ngIf="showMenu" fxLayout="column" id="responsiveMenu" style="z-index: 2;">
                <button mat-button class="topbarButtons" (click)="toggleMenu()" [routerLink]="['home']" routerLinkActive="lightThemeRouterLinkActive">Home</button>
                <button mat-button class="topbarButtons" (click)="toggleMenu()">About</button>
                <button mat-button class="topbarButtons" (click)="toggleMenu()">Achievements</button>
                <button mat-button class="topbarButtons" (click)="toggleMenu()">Projects</button>
                <button mat-button class="topbarButtons" (click)="toggleMenu()" [routerLink]="['technicalNotes']" routerLinkActive="lightThemeRouterLinkActive">Technical Notes</button>
            </div>
            <div class="flexRemainingSpace" style="overflow: auto;">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>