<div class="flexContainer">
    <mat-accordion displayMode="flat" style="padding-left: 5px; padding-right: 5px;">
        <mat-expansion-panel style="margin-top: 5px;">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Git Notes
                </mat-panel-title>
            </mat-expansion-panel-header>
            <button mat-button class="listItem" (click)="scrollTo('gitBasics')">Git Basics</button>
            <button mat-button class="listItem" (click)="scrollTo('gitBranchStrategies')">Git Branch Strategies</button>
            <button mat-button class="listItem" (click)="scrollTo('cheatSheet')">Cheat Sheet</button>
        </mat-expansion-panel>
    </mat-accordion>
    <div fxLayout="column" fxLayout="column">
        <div>
            <h1>Git Notes</h1>
            <h2>Introduction</h2>
            <p>These are my personal notes for some use cases for GitLab. Some cases are easier with Visual Studio Code, but they are not included here.</p>
            <mat-divider></mat-divider>
        </div>
        <div id='gitBasics'>
            <h2>Git Basics</h2>
            <img style="width: 80%; height: auto;" src="assets/images/gitNotes/GitBasics.png">
            <h3>What are Git HEADs and Detached HEADs?</h3>
            <ul>
                <li>The term HEAD refers to the current commit you are viewing.</li>
                <li>Most of the time we are viewing the tip (the most recent commit) of a branch.</li>
                <li>But actually we can view a specific commit by <span class="CLI-font">git checkout &lt;commit-hash></span></li>
                <li>When we are viewing a commit rather than a branch, we enter into a deteached HEAD state.</li>
                <li>HEAD vs head</li>
                    <ul>
                        <li>A head simply means a local branch.</li>
                        <li>The HEAD is the commit or branch you are currently viewing.</li>
                        <li>A repository can contain a number of heads but only one HEAD</li>
                    </ul>
                <li>git pull vs git fetch</li>
                    <ul>
                        <li>git pull does a git fetch followed by a git merge</li>
                        <li>For example, let's say we are currently at branch "master", and
                            we made some local changes already:
                        </li>
                            <ul>
                                <li>If we do <span class="CLI-font">git fetch origin master</span>, 
                                    it only updates the refs/remotes/master. Our refs/head will not
                                    be affected and hence our working copy will not be changed.</li>
                                <li>On the other hand, if we do <span class="CLI-font">git pull origin master</span>,
                                    we are fetching and merging the changes, which will affect our refs/head.</li>
                            </ul>
                    </ul>
                <li>git reset</li>
                    <ul>
                        <li>By default, executing <span class="CLI-font">git reset</span> is running
                            <span class="CLI-font">git reset --mixed HEAD</span></li>
                        <li>Different options of git reset are actually affecting different trees (working directory, staging area 
                            and commit history)
                        </li>
                            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                <img src="https://wac-cdn.atlassian.com/dam/jcr:7fb4b5f7-a2cd-4cb7-9a32-456202499922/03%20(8).svg?cdnVersion=309" style="max-height: 500px;">
                                <span style="font-style: italic;">Source of image: https://www.atlassian.com/git/tutorials/undoing-changes/git-reset</span>
                            </div>
                    </ul>
                <li>git revert</li>
                    <ul>
                        <li>Git revert is a safer alternative to git reset in regards to losing work.</li>
                        <li>Git revert creates a new commit that inverses the changes specified.</li>
                        <li>The video in git bisect section below will show you how git revert can be used.</li>
                    </ul>
                <li>git bisect</li>
                    <ul>
                        <li>git bisect is a useful command for us to binary search a commit that caused bug</li>
                        <li>Refer to <a href="https://www.youtube.com/watch?v=D7JJnLFOn4A" target="_blank" rel="noopener noreferrer">this video</a> for the demo.</li>
                    </ul>
                <li>git cherry-pick</li>
                    <ul>
                        <li>"git merge" and "git rebase" will copy all the commits, but sometimes probably we only want to copy a
                            specific commit, we can use "git cherry-pick" to achieve this.
                        </li>
                        <li>Refer to <a href="https://www.youtube.com/watch?v=wIY824wWpu4" target="_blank" rel="noopener noreferrer">this video</a> for the demo.</li>
                    </ul>
            </ul>
            <h3>What happens to your files when you have multiple branches in your directory?</h3>
            <ul>
                <li>The files in the working directory will change according to your HEAD.</li>
            </ul>
            <h3><a href="https://blog.hackbrightacademy.com/blog/svn-vs-git/" target="_blank" rel="noopener noreferrer">Git vs SVN</a></h3>
            <mat-divider></mat-divider>
        </div>
        <div id="gitBranchStrategies">
            <h2>Git Branch Strategies</h2>
            <ul>
                <li><a href="https://docs.gitlab.com/ee/topics/gitlab_flow.html#" target="_blank" rel="noopener noreferrer">Main reference</a></li>
                <li>There are 3 types of Git branch strategies</li>
                    <ul>
                        <li>Git Flow</li>
                        <li>GitHub Flow</li>
                        <li>GitLab Flow</li>
                    </ul>
                <li>Git Flow</li>
                    <ul>
                        <li>Git Flow was one of the first proposals to use Git branches</li>
                        <li>Developers must use the "Develop" branch</li>
                        <li>Master branch is reserved for code that is released to production</li>
                        <li>Too troublesome for continuous delivery.</li>
                        <li>Not user friendly to implement this on GitLab as GitLab always by default point to master branch.</li>
                        <li>The following is my interpretation of Git Flow based on this <a href="https://docs.gitlab.com/ee/topics/img/gitlab_flow_gitdashflow.png" target="_blank" rel="noopener noreferrer">diagram</a>.</li>
                        <img style="width: 90%;" src="assets/images/gitNotes/GitFlow.png">
                    </ul>
                <li>GitHub Flow</li>
                    <ul>
                        <li>GitHub Flow has only feature branches and a main branch</li>
                        <li>GitHub Flow assumes you can deploy to production every time you merge a feature branch.</li>
                        <li>Suitable for continuous delivery, but can only perform integration test on master branch, which is not appropriate.</li>
                        <li>The feature branches always branch from the master branch.</li>
                        <li>The following is my interpretation of GitHub Flow based on the GitHub Flow diagram <a href="https://docs.gitlab.com/ee/topics/gitlab_flow.html#github-flow-as-a-simpler-alternative" target="_blank" rel="noopener noreferrer">here</a>.</li>
                        <img style="width: 80%;" src="assets/images/gitNotes/GitHub Flow.png">
                    </ul>
                <li><a href="https://docs.gitlab.com/ee/topics/gitlab_flow.html#github-flow-as-a-simpler-alternative" target="_blank" rel="noopener noreferrer">GitLab Flow</a>
                    works with 3 types of cases:</li>
                    <ul>
                        <li>Continuous Delivery with Deployment Branch</li>
                            <ul>
                                <li>Only have production branch and development branch</li>
                                <li>Preferably to have feature branches if you have multiple developers working on the development branch</li>
                                <li>The development branch is to overcome the shortcoming of GitHub Flow, where integration test is impossible if every feature is merged to master branch straight away upon completion.</li>
                                <li>Merge your development branch into production branch when it's ready to be released</li>
                                <li>Doesn't necessarily need a tag for every commit in master branch.</li>
                            </ul>
                        <li>Continuous Delivery with Environment branches</li>
                            <ul>
                                <li>Imagine if you have three different environments</li>
                                    <ul>
                                        <li>Staging Area (For development)</li>
                                        <li>Pre-production (For pre-production testing)</li>
                                        <li>Production (For stable releases to customers)</li>
                                    </ul>
                                <li>Then, you can have 3 different branches for each of the environments.</li>
                                    <ul>
                                        <li>When you want to put your development to production, merge "staging" branch into "pre-production" branch first</li>
                                        <li>When finished testing and ready to release, merge "pre-production" branch into "production" branch</li>
                                    </ul>
                            </ul>
                        <li>Versioned Release</li>
                            <ul>
                                <li>Each release has an associated release branch that is based off the main branch</li>
                                <li>Bug fixes should be merged into the main branch first, before being 
                                    <a href="https://www.atlassian.com/git/tutorials/cherry-pick" target="_blank" rel="noopener noreferrer">cherry-picked</a> into the release branch.</li>
                            </ul>
                    </ul>
            </ul>
            <h3>Git/GitLab Best Practices</h3>
            <ol>
                <li>Formalize git conventions and standardize git branch strategies & practices among team</li>
                <li>Squash commits before merging</li>
                <li>Use feature branches rather than direct commits on the main branch</li>
                <li>Perform code reviews before merging into the main branch</li>
                <li>Releases are based on tags</li>
                <li>Avoid rebasing pushed commits unless it is your private repo</li>
                <li>Keep commit histroy clean from useless commits for main branch and shared branches.</li>
            </ol>
            <mat-divider></mat-divider>
        </div>
        <div id='cheatSheet'>
            <h2>Cheat Sheet</h2>
            <div>
                <h3>To clone a branch of remote repository</h3>
                <ul>
                    <li><span class="CLI-font">git clone -b &lt;branch-name> --single-branch &lt;remote-repository-url></span></li>
                    <li>After cloning this, if you want to add the master branch to your local repo:</li>
                        <ul>
                            <li><span class="CLI-font">git remote set-branches --add &lt;remote-name> &lt;master-branch-name></span></li>
                            <li><span class="CLI-font">git fetch &lt;remtoe-name> &lt;master-branch-name>:&lt;master-branch-name></span></li>
                            <li>RUN <span class="CLI-font">git branch</span> to check your local branch</li>
                            <li>RUN <span class="CLI-font">git branch -r</span> to check your remote branch</li>
                        </ul>
                </ul>
            </div>
            <div>
                <h3>To add a branch of remote repository to your local repo</h3>
                <ul>
                    <li>You need this when you already have the repo, and you only want to add a branch to your current repo.</li>
                    <li>The process is quite similar to fetching master branch:</li>
                        <ul>
                            <li><span class="CLI-font">git remote set-branches --add &lt;remote-name> &lt;branch-name></span></li>
                            <li><span class="CLI-font">git fetch &lt;remtoe-name> &lt;development-branch-name>:&lt;development-branch-name></span></li>
                        </ul>
                </ul>
            </div>
            <div>
                <h3>If you pushed a folder but you forgot to add .gitignore, you need to remove the cache</h3>
                <ul>
                    <li>Reference: https://www.programmersought.com/article/48071292205/</li>
                    <li><span class="CLI-font">git rm -r --cached .</span></li>
                    <li>Add and commit again</li>
                </ul>
            </div>
            <div>
                <h3>To merge remote master branch into your remote branch</h3>
                <ul>
                    <li>This is needed when you are working on branch but the master repo has new updates.</li>
                    <li>The overall proccess is:</li>
                        <ol>
                            <li>Switch to your master branch on local machine</li>
                            <li>Git pull origin master to synchronize the master branch on local machine with the one on remote repo</li>
                            <li>Switch back to your local development branch</li>
                            <li>Git merge local master branch with your local development branch</li>
                            <li>Git push your local development branch to the remote development branch</li>
                        </ol>
                    <li>Side note: You may also straight away git pull origin master from you local branch, if you don't have a local master branch</li>
                    <li>Using CLI</li>
                        <ol>
                            <li><span class="CLI-font">git checkout master</span></li>
                            <li><span class="CLI-font">git pull origin master</span></li>
                            <li><span class="CLI-font">git checkout &lt;branch-name></span></li>
                            <li><span class="CLI-font">git merge master</span></li>
                            <li><span class="CLI-font">git push origin &lt;branch-name></span></li>
                        </ol>
                </ul>
            </div>
            <div>
                <h3>To undo commit, or stage, or even workding changes</h3>
                <ul>
                    <li>To undo the latest commit, but keep it in staging area</li>
                        <ul>
                            <li><span class="CLI-font">git reset --soft HEAD</span></li>
                        </ul>
                    <li>To undo the last 3 commits(HEAD, HEAD^, and HEAD~2), but keep them in staging area</li>
                        <ul>
                            <li><span class="CLI-font">git reset --soft HEAD~3</span></li>                            
                        </ul>
                    <li>To undo the last commit, and remove from staging area, only keep in working changes</li>
                        <ul>
                            <li><span class="CLI-font">git reset</span></li>
                            <li>Basically this equivalent to <span class="CLI-font">git reset --mixed HEAD</span></li>
                            <li>Basically this also means undo a git add</li>
                        </ul>
                    <li>To undo the last commit, and also reset the working directory</li>
                        <ul>
                            <li><span class="CLI-font">git reset --hard</span></li>
                            <li>DO NOT do hard reset if your commit is pushed a public repo and somebody already puled it</li>
                        </ul>
                    <li>To remove a file from staging area, but keep it in working directory</li>
                        <ul>
                            <li>git reset -- your_file_name</li>
                        </ul>
                </ul>
            </div>
            <div>
                <h3>To remove image from Camo's cache</h3>
                <ul>
                    <li><a href="https://github.com/atom/markdown-preview/issues/207" target="_blank" rel="noopener noreferrer">Reference</a></li>
                    <li>This is needed when you replace an old image with new image with same name.</li>
                    <li>The markdown preview will be displaying the old image if you do not remove the cache.</li>
                    <li>To remove it:
                        <ul>
                            <li><span class="CLI-font">curl -X PURGE https://camo.githubusercontent.com/4d04abe0044d94fefcf9af2133223....</span></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>