<div class="flexContainer">
    <mat-accordion displayMode="flat" style="padding-left: 5px; padding-right: 5px;">
        <mat-expansion-panel style="margin: 5px 0 5px 0;">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    General
                </mat-panel-title>
            </mat-expansion-panel-header>
            <button mat-button class="listItem" (click)="scrollTo('how-web-works')">How the Web works</button>
            <button mat-button class="listItem" (click)="scrollTo('jQuery')">What is jQuery?</button>
            <button mat-button class="listItem" (click)="scrollTo('D3')">What is D3?</button>
            <button mat-button class="listItem" (click)="scrollTo('difference')">Browser vs Node.js</button>
            <button mat-button class="listItem" (click)="scrollTo('nodeJS')">Node.js</button>
            <button mat-button class="listItem" (click)="scrollTo('esModules')">ES Modules</button>
            <button mat-button class="listItem" (click)="scrollTo('commonJS')">CommonJS</button>
            <button mat-button class="listItem" (click)="scrollTo('esModulesVsCommonJS')">ES Modules vs CommonJS</button>
        </mat-expansion-panel>
    </mat-accordion>
    <div>
        <h1>Web Development General Knowledge</h1>
        <div id="how-web-works">
            <h2>How the Web works?</h2>
            <ul>
                <li>The front-end is the part that is loaded inside a web browser on a client machine. 
                    It is the part the user sees and interacts with.
                </li>
                <li>The back-end is the part that runs on a web server, and is responsible for
                    data processing, validating, business rules, etc.
                </li>
                <li>URL (Uniform Resource Locator) is a way to locate a resource on our internet. 
                    A resource can be a webpage, an image, a video, a PDF, etc.
                </li>
                <li>When someone types lets say www.abc.com in the browser and press Enter,
                    the browser sends a HTTP request to the web server. Then, the webserver takes the request
                    and returns a response to the client. There are 2 ways of returning responses:
                </li>
                    <ul>
                        <li>Generates the page on the server, and then return an html document to the client</li>
                        <li>Return the data needed on the requested page, and let the client generate the page</li>
                    </ul>
                <li>Second option above is more preferable as it frees up the server, so the server can
                    serve more clients.
                </li>
                <li>With the second option being implemented, the server becomes an gateway to the data. On the
                    server, we can provide different endpoints (API) to let client get different data. For example,
                    /products to get list of products.
                </li>
                <li>Back to the HTTP request,</li>
                    <ul>
                        <li>The communication between client and server is based on HTTP protocol.</li>
                        <li>Here is a simplified example of an HTTP message, and basically it means "GET a file called 
                            index.html using HTTP version 1.1":</li>
                            <pre>
                                <code>
    GET /index.html HTTP/1.1
    Host: www.abcdefg.com
    Accept-Language: en-us
                                </code>
                            </pre>
                        <li>index.html normally represents the home page of websites</li>
                        <li>Here is a simplified example of HTTP response:</li>
                            <pre>
                                <code>
    HTTP/1.1 200 OK
    Date: 13 Oct 2022 00:15
    Content-Type: text/html

    &lt;!DOCTYPE html>
    &lt;html>
        ...
    &lt;/html>
                                </code>
                            </pre>
                        <li>As the browser reads the HTML document, it constructs a DOM (Document 
                            Object Model) which represents an object/element in HTML documents.
                            The elements include paragraph of text, images, links etc.
                        </li>
                        <li>If the HTML document contains references to other resources such as images,
                            and each of this resource has its URL, the browser will further send HTTP requests
                            to fetch the resources. 
                        </li>
                    </ul>
            </ul>
            <mat-divider></mat-divider>
        </div>

        <div id="jQuery">
            <h2>What is jQuery?</h2>
            <ul>
                <li><strong>Take note that: </strong>The recent trend is towards migrating jQuery to Vanilla
                Javascript. Vanilla Javascript here means "Core Javascript" or "Plain Javascript" without unnecessary libraries. 
                The trend of this migration is because:
                    <ul>
                        <li>Whatever jQuery can do, it can be done using Javascript</li>
                        <li>jQuery has lots of dependencies, and the browser has to load a lot of files
                            just to do something that Javascript can do.
                        </li>
                    </ul>
                </li>
                <li>jQuery is a lightweight, "write less, do more" Javascript library.</li>
                <li>jQuery is the most-know skill after having a basic knowledge about HTML and CSS.</li>
                <li>jQuery is so useful that it has the folloing features:</li>
                    <ul>
                        <li>HTML/DOM manipulation</li>
                            <pre>
                                <code>
    // FOR EXAMPLE
    $("p").append("Some appended text.");
    $(".productDescription").prepend("Some prepended text.");
                                </code>
                            </pre>
                        <li>CSS manipulation</li>
                        <pre>
                            <code>
    // FOR EXAMPLE
    $("#pageTitle").css(&#123;"color": "black", "font-style": "italic", "font-weight": "bold"});
                            </code>
                        </pre>
                        <li>HTML event methods</li>
                            <pre>
                                <code>
    // FOR EXAMPLE
    $("#button1").click(function() &#123;
        $("#div1").toggle();
    })
                                </code>
                            </pre>
                        <li>Effects and animation</li>
                            <pre>
                                <code>
    // FOR EXAMPLE
    $("#div1").slideUp();
    $("#div2").animate(&#123;height: '300px', opacity: '0.5'}, "slow");
                                </code>
                            </pre>
                        <li>AJAX</li>
                            <pre>
                                <code>
    // FOR EXAMPLE
    $("#div1").load("demo_test.txt");
                                </code>
                            </pre>
                        <li>Utilities</li>
                    </ul>
                <li>Recommended to go through <a href="https://www.w3schools.com/jquery/default.asp"
                    target="_blank" rel="noopener noreferrer">W3 Schools jQuery Tutorial</a>.</li>
            </ul>
            <mat-divider></mat-divider>
        </div>

        <div id="d3">
            <h2>D3.js</h2>
            <ul>
                <li>Once you have a basic understanding about jQuery, you should explore <a 
                    href="tutorialspoint.com/d3js/index.htm" target="_blank" rel="noopener noreferrer">
                    D3.js</a></li>
                <li>It is a Javascript library that allows us to bind arbitary data to DOM,
                    and then we can manipulate the DOM based on the data.
                </li>
            </ul>
            <mat-divider></mat-divider>
        </div>

        <div id="difference">
            <h2>Broswer vs Node.js</h2>
            <p>Both the broswer and Node.js use Javacript as their programming langauge. However, building apps that run in the browser
                is different than building a Node.js application, one of the reasons is the difference in the module system used.
            </p>
            <div style="overflow-x : auto">
                <table>
                    <tr>
                        <th>Browser</th>
                        <th>Node.js</th>
                    </tr>
                    <tr>
                        <td>For frontend development</td>
                        <td>Mainly for server-side development</td>
                    </tr>
                    <tr>
                        <td>Can interact with DOM, or other Web Platform APIs like Cookies</td>
                        <td>Cannot interact with the DOMs and Web Platform APIs</td>
                    </tr>
                    <tr>
                        <td>Does not have nice APIs</td>
                        <td>Has nice APIs provided through modules</td>
                    </tr>
                    <tr>
                        <td>Cannot be written in other languages</td>
                        <td>Can be written in C++ so that it can directly interact with the OS</td>
                    </tr>
                    <tr>
                        <td>Modern browsers support ES6 Modules</td>
                        <td>Node 14 onwards support both CommonJS & ECMAScript modules</td>
                    </tr>
                </table>
            </div>
            <mat-divider></mat-divider>
        </div>
        <div id="nodeJS">
            <h2>Node.js</h2>
            <a href="https://nodejs.dev/en/learn" target="_blank" rel="noopener noreferrer">The best resources to learn Node.js</a>
            <p>You also need to take note of how are the files will be treated as ECMAScript modules and CommonJS modules by referring to 
                <a href="https://keenethics.com/blog/ecmascript-modules-nodejs-v14" target="_blank" rel="noopener noreferrer">this blog post</a>.</p>
            <mat-divider></mat-divider>
        </div>
        <div id="esModules">
            <h2>ES Modules</h2>
            <p>ES Modules is the ECMAScript (the scripting language that forms the basis of JavaScript) standard for working with modules.</p>
            <p>Node.js has been using the CommonJS standard for years but there was no concept of modules in Javascript, and &lt;script> tags were used to load multiple Javascript files. 
                Therefore, the module system support is finally standardized in ES6 and then browsers started to implement it. Now Chrome, Safari, Edge and Firefox (starting from version 60) all support ES modules.
            </p>
            <p>Some important notes:</p>
            <ul>
                <li>ES6 modules are automatically strict-mode code, even if you don’t write "use strict"; in them</li>
                <li>Everything inside an ES6 module is private by default</li>
                <li>Public variables, functions and classes are exposed using <span style="font-style:italic">export</span></li>
                <li>Exposed modules are called into other modules using <span style="font-style:italic">import</span></li>
                <li>The <span style="font-style:italic">type="module"</span> directive must be included in the script tag in order to include modules</li>
                <li>You need to add <span style="font-style:italic">nomodule</span> directive in script tag for browsers without module support</li>
                <li>Regular script tags can fetch scripts on other domains but modules are fetched using cross-origin resource sharing (CORS). Modules on different domains must therefore set an appropriate HTTP header, such as Access-Control-Allow-Origin: *</li>
                <li>Modules are deferred, and only run after a document is loaded</li>
            </ul>
            <p>For a better reference: <a href="https://ponyfoo.com/articles/es6-modules-in-depth" target="_blank" rel="noopener noreferrer">ES6 Modules in Depth</a></p>
            <mat-divider></mat-divider>
        </div>
        <div id="commonJS">
            <h2>CommonJS</h2>
            <p>The CommonJS module specification is the standard used in Node.js for working with modules.</p>
            <p>The npm ecosystem is built upon this CommonJS format.</p>
            <p>In CommonJS, modules are loaded synchronously, and processed in the order the JavaScript runtime finds them.</p>
            <p>CommonJS was born with server-side Javascript in mind whereas ES Modules were introduced for client-side Javascript.</p>
            <mat-divider></mat-divider>
        </div>
        <div id="esModulesVsCommonJS">
            <h2>ES Modules vs CommonJS</h2>
            <p>Take note that Node 14 introduces ECMAScript Modules, hence, you can use both ES Modules and CommonJS modules in Node 14.
                For this, you need to know how to make the files being treated as ECMAScript modules or CommonJS modules by referring to 
                <a href="https://keenethics.com/blog/ecmascript-modules-nodejs-v14" target="_blank" rel="noopener noreferrer">this article</a>.</p>
            <p>Import examples:</p>
            <pre>
                <code>
    // IN ES module standard
    import &#123;map, reduce} from 'lodash'
    import _ from 'lodash' // Default Import
    import &#123;cloneDeep as clone} from 'lodash' // Named Imports
    
    // IN CommonJS standard
    const &#123;map, reduce} = require('lodash')
    const _ = require('lodash') // Default Import
    const &#123;cloneDeep: clone} = require('lodash'); // Named Imports
                </code>
            </pre>
            <p>Export examples:</p>
            <pre>
                <code>
    // IN ES module standard
    export default 1
    export default 'foo'
    export default &#123; foo: 'bar' }
    export default ['foo', 'bar']
    export default function foo () &#123;}
    export const fooString = 'foo' // Name Exports
    export const consoleABC = function () &#123; console.log('ABC') } // Named Exports
    
    // IN CommonJS standard
    module.exports = 1
    module.exports = 'foo'
    module.exports = &#123; foo: 'bar' }
    module.exports = ['foo', 'bar']
    module.exports = function foo () &#123;}
    module.exports.fooString = 'foo' // Name Exports
    module.exports.consoleABC = function () &#123; console.log('ABC') } // Named Exports
                </code>
            </pre>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>