<div fxLayout="column" fxLayoutGap="10px">
    <h1>Docker notes</h1>

    <div>
        <h2>Introduction</h2>
        <p>Main References: </p>
            <ul>
                <li>https://www.simplilearn.com/tutorials/docker-tutorial/getting-started-with-docker?source=sl_frs_nav_playlist_video_clicked</li>
                <li>https://www.youtube.com/watch?v=3c-iBn73dDE</li>
                <li>https://codewithmosh.com/p/the-ultimate-docker-course</li>
            </ul>
        <h3>What is Docker?</h3>
        <ul>
            <li>Docker is an OS-level virtualization software platform that enables users to create, deploy and run applications in a Docker Container.</li>
            <li>A Docker Container is a light-weight software package that includes all the dependencies(framework, libraries, etc) required to execute an applicaiton.</li>
            <li>Hence, Docker is a platform for building, running and shipping applications in a consistent manner. (If your application
                can work on your development machine, it can work the same way on the other machines)
            </li>
            <li>With isolated environment, multiple applications are allowed to use different versions of 
                dependencies side by side.
            </li>
            <li>Docker is so popular today that “Docker” and “containers” are used interchangeably.</li>
        </ul>
        <h3>What is a Container?</h3>
        <ul>
            <li>A container is a standard unit of software that packages up code and all its dependencies so the application runs quickly and reliably from one computing environment to another.</li>
        </ul>

        <h3>Container vs Virtual Machines</h3>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <img src="https://images.contentstack.io/v3/assets/blt300387d93dabf50e/bltb6200bc085503718/5e1f209a63d1b6503160c6d5/containers-vs-virtual-machines.jpg" width="80%">
            <span style="font-style: italic;">Source of image: https://www.weave.works/blog/a-practical-guide-to-choosing-between-docker-containers-and-vms</span>
        </div>
        <table style="margin-top: 20px;">
            <tr>
                <th>VM</th>
                <th>Container</th>
            </tr>
            <tr>
                <td colspan="2" style="width: 100%;">application isolation</td>
            </tr>
            <tr>
                <td>sizes are measured in gigabytes</td>
                <td>sizes are measured in megabytes</td>
            </tr>
            <tr>
                <td>high memory usage</td>
                <td>low memory usage</td>
            </tr>
            <tr>
                <td>poor performance</td>
                <td>better performance</td>
            </tr>
            <tr>
                <td>high memory usage</td>
                <td>low memory usage</td>
            </tr>
            <tr>
                <td>longer boot-up time</td>
                <td>shorter boot-up time</td>
            </tr>
            <tr>
                <td>terrible for portability</td>
                <td>designed for portability</td>
            </tr>
            <tr>
                <td>host OS independent</td>
                <td>host OS dependent (need to check system requirement)</td>
            </tr>
        </table>
        <mat-divider></mat-divider>

        <h3>Dockerfile vs Docker Image vs Docker Container</h3>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <img src="https://miro.medium.com/max/1079/1*3ds-PdxGGMN-ZzJH95_lsA.png" width="80%">
            <span style="font-style: italic;">Source of image: https://bikramat.medium.com/docker-objects-e561f0ce3365</span>
        </div>
        <mat-divider></mat-divider>

        <h3>Miscellaneous Notes</h3>
        <ul>
            <li>By default, the <span class="script-font">FROM</span> command will pull images from Docker Hub.
                For example: <span class="script-font">FROM node:19.1.0-alpine3.16</span><br>
                However, we can also pull container images from other Container Registry by providing full url.
                <a href="https://github.com/dotnet/dotnet-docker/blob/main/samples/host-aspnetcore-https.md"
                target="_blank" rel="noopener noreferrer">For example</a>.</li>
            <li>By default, Docker uses the 'latest' tag if you didnt specify one. For production release,
                it is better to specify a specific tag for your base Docker image.
            </li>
            <li>Normally you will see for each container image, for each tag, under it there are several items, each
                of them are built for different CPU architecture. But don't worry, when you pull the image, it 
                will automatically download the right Docker image for your CPU architecture.
                <img style="width: 90%;" src="assets/images/DockerNotes/dockernotes_02.png">
            </li>
            <li>Alpine images are normally small, but it does not come with bash, and it comes with shell instead.
                So for example if you want to run shell script in interactive mode: <span class="CLI-font">docker
                run -t your-node-docker-image sh
                </span>
            </li>
            <li>Alpine images do not come with 'apt' also, it uses 'APK' instead.</li>
            <li><span class="script-font">WORKDIR</span> is kind of like 'cd' where it determines where do the rest
                of the commands will be executed.</li>
            <li>Example usage of <span class="script-font">COPY</span>:</li>
                <ul>
                    <li class="script-font">COPY ["README.md", "package.json", "/app/"]</li>
                    <li class="script-font">COPY README.md package.json /app/</li>
                    <li class="script-font">COPY package*.json .</li>
                    <li class="script-font">COPY . .</li>
                </ul>
            <li>Take note that when we specify more than one source files to be copied, the destination must be an 
                absolute directory.
            </li>
            <li>The strings we copied are transferred through network, so we should try to avoid copying unnecessary
                items.
            </li>
            <li>To exclude some file or directories, simply add an .dockerignore file and list out the files and directories to be excluded.</li>
            <li><span class="script-font">RUN</span> command can be used to execute commands that we normally run on terminal sessions. For example:
                <span class="script-font">RUN npm install</span></li>
            <li><span class="script-font">ENV</span> command can be used to set environment variable for that container,
                for example: <span class="script-font">ENV API_URL=http://api.myapp.com/</span></li>
            <li><span class="script-font">EXPOSE</span> command can be used to 'indicate' what port the container will
                be listening on. For example: <span class="script-font">EXPOSE 8000</span></li>
            <li><span class="script-font">EXPOSE</span> command does not automatically publish
                the port on the host. It is just a form of documentation, we should further map a port
                on the host to the respective port on the container.</li>
            <li><span class="script-font">USER</span> command can be used set the username to used when running the rest of the commands.
                For example:</li>
                <pre>
                    <code>
    RUN addgroup app && adduser -S -G app admin
    USER admin
                    </code>
                </pre>
            <li><span class="script-font">RUN</span> vs <span class="script-font">CMD</span> vs <span class="script-font">ENTRYPOINT</span>
                <table style="margin-top: 20px;">
                    <tr>
                        <th></th>
                        <th>RUN</th>
                        <th>CMD</th>
                        <th>ENTRYPOINT</th>
                    </tr>
                    <tr>
                        <td>Execution</td>
                        <td>Every command takes effect.</td>
                        <td>Only last command takes effect.</td>
                        <td>Only last command takes effect.</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>build time instruction</td>
                        <td>run time instruction</td>
                        <td>run time instruction</td>
                    </tr>
                    <tr>
                        <td>Will be overrided by execution command</td>
                        <td>No</td>
                        <td>Yes</td>
                        <td>No, unless <span class="CLI-font">--entrypoint</span></td>
                    </tr>
                    <tr>
                        <td>Example</td>
                        <td><span class="script-font">RUN npm install</span></td>
                        <td><span class="script-font">CMD ["npm", "start"]</span></td>
                        <td><span class="script-font">ENTRYPOINT ["npm", "start"]</span></td>
                    </tr>
                </table>
            </li>
            <li>The <span class="script-font">CMD</span> instruction has 2 forms:</li>
                <ul>
                    <li>Shell form</li>
                        <ul>
                            <li>Example: <span class="script-font">CMD npm start</span></li>
                            <li>Will spin up a new shell process in order to execute the command.</li>
                        </ul>
                    <li>Exec form</li>
                        <ul>
                            <li>Example: <span class="script-font">CMD ["npm", "start"]</span></li>
                            <li>Will execute the command directly.</li>
                            <li>Easier and faster to clean up resources when you stop containers.</li>
                        </ul>
                </ul>
            <li>A docker image is collection of layers. When Docker build image, it executes every line written in
                Dockerfile, and each of the lines is a layer. The layers are bottom-up sequence, so if the bottom
                layer has changes, the upper layers will rebuild. Hence, to optimize building process, the instructions
                that most likely not going to change frequently should be written on top.
            </li>
            <li>Now you know that everytime we make changes, there will be a lot of unused layers/images. We can
                remove them using <span class="CLI-font">docker image prune</span>, but before that you should remove
                all stopped containers first using <span class="CLI-font">docker container prune</span>.
            </li>
            <li>To push a Docker image to Docker Hub</li>
                <ol>
                    <li>Make sure you already registered a Docker Hub account and created a repository</li>
                    <li>Tag your docker image so that it has the same name as your repository, for example:
                        <br>
                        <span class="CLI-font">docker image tag learning_docker:latest tankuianandrew/learning_docker:1.0.0</span>
                    </li>
                    <li>Log in to your Docker Hub account: <span class="CLI-font">docker login</span></li>
                    <li><span class="CLI-font">docker push image-name:tag-name</span></li>
                </ol>
            <li>To transfer a docker image through offline:</li>
                <ol>
                    <li>cd to the directory that contains the Dockerfile</li>
                    <li>Use <span class="CLI-font">docker image save</span> to save the image. For example: 
                        <span class="CLI-font">docker image save -i learning_docker.tar learning_docker:1.0.0</span></li>
                    <li>Transfer the .tar file to another machine that has docker installed</li>
                    <li>Load the image using <span class="CLI-font">docker image load</span>. For example:
                        <span class="CLI-font">docker image load -i learning_docker.tar</span></li>
                </ol>
            <li>Something to be looking forward: <a href="https://docs.docker.com/desktop/wasm/" target="_blank" rel="noopener noreferrer">Docker + Wasm</a></li>
        </ul>

        <h3>Docker Commands Cheat Sheet</h3>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <img src="https://phoenixnap.com/kb/wp-content/uploads/2021/04/Docker-commands-cheat-sheet-by-PhoenixNAP-scaled.jpg" width="100%">
            <span style="font-style: italic;">Source of image: https://phoenixnap.com/kb/list-of-docker-commands-cheat-sheet#ftoc-heading-7</span>
        </div>
        <mat-divider></mat-divider>
    </div>

    <div>
        <h2>Setup Docker Image for Python Projects</h2>
        <h3>Introduction</h3>
        <ul>
            <li>When dealing with python projects, there are always dependencies problem where some of the packages require
                some specific version of other packages. This will be a problem if you have multiple projects on your machine.
            </li>
            <li>The common way of dealing with this problem is by using Python virtualenv. However, a Python virtualenv only 
                encapsulates Python dependencies, you will be still stuck with your host OS.
            </li>
            <li>With Docker, you can encapsulate the entire OS.</li>
            <li>The notes here are mainly tested on Ubuntu host system only.</li>
        </ul>

        <h3>Notes</h3>
        <ul>
            <li>Before proceeding to the case studies, here are some notes that you need to know.</li>
            <li><a href="http://wiki.ros.org/docker/Tutorials/GUI" target="_blank" rel="noopener noreferrer">This tutorial</a>
                documented a few ways to use GUIs with Docker, but we will be mainly using the mix of 2nd option and 3rd option, which is 
                demonstrated by <a href="https://jerin-electronics.medium.com/docker-now-ep1-python-opencv-in-docker-1dda564672c3" target="_blank" rel="noopener noreferrer">this reference</a>.</li>
            <li>We will either use python docker image or ubuntu docker image as the base image.</li>
            <li>To use GUI (for matplotlib and opencv) on docker, we need python3-tk.</li>
            <li>We will use the <span class="CLI-font">--volume</span> option of <span class="CLI-font">docker run</span>
                to make our project directory available inside the container. With this, the changes made on our host system will
                be implemented on the docker container immediately as well. </li>
            <li>When we mount your project directory, make sure to add "" to handle the case if the name of your project folder has spaces in between.</li>
            <li>We will use the <span class="CLI-font">--volume</span> option of <span class="CLI-font">docker run</span>
                to clean-up the container when the container exits..</li>
            <li>We will use <span class="CLI-font">-net=host</span>, to share our host network.
                This will allow us to access the URLs used by docker container through the web browsers of host system.</li>
                <ul>
                    <li>For example, if we run <span class="CLI-font">jupyter notebook --allow-root</span> on docker container,
                        we can use Google Chrome or Mozilla Firefox to access the Jupyter Notebook on our host system.</li>
                </ul>
            <li>It is also possible to run Firefox on the docker container, and then we can use VNC Viewer to access it.</li>
            <li>Installing python3-tk , or tzdata etc on Ubuntu will need these extra variables to be defined:</li>
                <ul>
                    <li>ENV DEBIAN_FRONTEND=noninteractive</li>
                    <li>ENV TZ=Etc/UTC</li> 
                </ul>
        </ul>

        <h3>DockerFile Setup for OpenCV Project with the base image python:3.6.9-slim</h3>
        <ol>
            <li>The main reference of the content here is <a href="https://jerin-electronics.medium.com/docker-now-ep1-python-opencv-in-docker-1dda564672c3"
                 target="_blank" rel="noopener noreferrer">this</a></li>
            <li>In your development directory, create a Dockerfile</li>
                <pre>
                    <code>
    FROM python:3.6.9-slim

    # Install system packages
    RUN apt-get update && apt-get install -y --no-install-recommends \
            bzip2 \
            g++ \
            git \
            graphviz \
            libgl1-mesa-glx \
            libhdf5-dev \
            openmpi-bin \
            wget \
            python3-tk && \
        rm -rf /var/lib/apt/lists/*
        
    # Setting up working directory 
    RUN mkdir /src
    WORKDIR /src
    COPY requirements.txt .

    RUN pip install --upgrade pip
    RUN pip install --no-cache-dir -r requirements.txt
    
    # Minimize image size 
    RUN apt-get autoremove -y
    RUN apt-get autoclean -y
            
    ENV QT_X11_NO_MITSHM=1
    
    CMD ["bash"] 
                    </code>
                </pre>
            <li>Create a python file called "show.py"</li>
                <pre>
                    <code>
    import cv2
    img = cv2.imread('test.png',1)
    cv2.imshow('img',img)
    cv2.waitKey(1000)
                    </code>
                </pre>
            <li>Add a test.png into the same directory.</li>
            <li>Add a requirements.txt</li>
                <pre>
                    <code>
    opencv-python==4.0.0.21
                    </code>
                </pre>
            <li>Add a runDocker.sh</li>
                <pre>
                    <code>
    xhost +local:docker
    XSOCK=/tmp/.X11-unix
    XAUTH=/tmp/.docker.xauth
    xauth nlist $DISPLAY | sed -e 's/^..../ffff/' | xauth -f $XAUTH nmerge -
    docker run -m 8GB -it --rm -e DISPLAY=$DISPLAY -v $XSOCK:$XSOCK -v $XAUTH:$XAUTH -e XAUTHORITY=$XAUTH -v "$&#123;PWD}:/src"  -it yourname/opencv_projects:latest
    xhost -local:docker
                    </code>
                </pre>
            <li>Docker build</li>
                <ul>
                    <li><span class="CLI-font">docker build -t yourname/opencv_projects:1atest .</span></li>
                </ul>
            <li>Execute the runDocker.sh</li>
                <ul>
                    <li><span class="CLI-font">sh runDocker.sh</span></li>
                </ul>
            <li>Then you will see something like this:</li>
                <img style="width: 90%;" src="assets/images/DockerNotes/dockernotes_01.png">
            <li>Simply run the following command to test whether it works</li>
                <ul>
                    <li><span class="CLI-font">python3 show.py</span></li>
                </ul>
            <li>If you run "ls", you will see all the files in your project directory can be accessed at there.</li>
            <li>Try modifying the show.py, and execute it again, you will see the changes being implemented.</li>
        </ol>

        <h3>DockerFile Setup for OpenCV Project with the base image ubuntu:20.04</h3>
        <ol>
            <li>Only Dockerfile and requirements.txt will be modified, the rest of the files and steps will be the same as the ones in the previous section.</li>
            <li>Dockerfile</li>
                <pre>
                    <code>
    FROM ubuntu:20.04

    # Install system packages
    ENV QT_X11_NO_MITSHM=1
    ENV DEBIAN_FRONTEND=noninteractive 
    ENV TZ=Etc/UTC
    RUN apt-get update && apt-get install -y --no-install-recommends \
            bzip2 \
            g++ \
            git \
            graphviz \
            libgl1-mesa-glx \
            libhdf5-dev \
            openmpi-bin \
            wget \
            pip  \
            python3.7 \
            python3-tk && \
        rm -rf /var/lib/apt/lists/*
    
    # Setting up working directory 
    RUN mkdir /src
    WORKDIR /src
    COPY requirements.txt .
    
    RUN pip install --upgrade pip
    RUN pip install --no-cache-dir -r requirements.txt
    
    # Minimize image size 
    RUN apt-get autoremove -y
    RUN apt-get autoclean -y
                    </code>
                </pre>
            <li>requirements.txt (take note that we dont specify the version here)</li>
                <pre>
                    <code>
    opencv-python
                    </code>
                </pre>
            <li>For the rest of the files and steps, please refer to previous section.</li>
        </ol>
        <mat-divider></mat-divider>
    </div>

    <div>
        <h2>To access Mozilla Firefox of a docker container</h2>
        <ol>
            <li>You will need to include these packages in your Dockerfile</li>
                <pre>
                    <code>
    RUN apt-get update && apt-get install -y --no-install-recommends \
        x11vnc \
        xvfb \
        firefox 
                    </code>
                </pre>
            <li>You also need these lines to execute firefox and vncserver</li>
                <pre>
                    <code>
    RUN echo "exec firefox" > ~/.xinitrc && chmod +x ~/.xinitrc
    CMD ["x11vnc", "-create", "-forever"]
                    </code>
                </pre>
            <li>You may use the same runDocker.sh as shown in previous section.</li>
                <ul>
                    <li><span class="CLI-font">sh runDocker.sh</span></li>
                </ul>
            <li>Now, you can see that the output of the terminal saying "<span class="CLI-font">PORT=5900</span>" </li>
            <li>Since in the runDocker.sh we used net=host, then you can access it on VNC Viewer using localhost:5900. Then, you will see a 
                Mozilla Firefox browser is up.
            </li>
            <li>If in case you didnt use net=host, then you need to check the container id:</li>
                <ul>
                    <li><span class="CLI-font">sudo docker container ls</span></li>
                </ul>
            <li>Then, inspect the container to get its ip address</li>
                <ul>
                    <li><span class="CLI-font">sudo docker inspect &lt;yourContainerID></span></li>
                </ul>
            <li>After that, you can use VNC Viewer to access it using &lt;theIpAddressOfTheContainer>:5900</li>
        </ol>
        <mat-divider></mat-divider>
    </div>

    <div>
        <h2>C++ development with Docker containers in Visual Studio Code</h2>
        <ul>
            <li><a href="https://devblogs.microsoft.com/cppblog/c-development-with-docker-containers-in-visual-studio-code/"
                target="_blank" rel="noopener noreferrer">Reference</a></li>
        </ul>
    </div>

</div>