<div class="flexContainer">    
    <div fxLayout="column" fxLayoutGap="10px">
        <h1>Bellman-Ford Algorithm</h1>
        <div>
            <h2>Introduction</h2>
            <ul>
                <li>Bellman-Ford Algorithm is an algorithm for Single Source Shortest Path problems.</li>
                <li>Bellman-Ford Algorithm has time complexity of O(EV) and whereas Dijsktra's Algorithm
                    has time complexity of O((E+V)logV) with the help of priority queue.
                </li>
                <li>Hence, generally Dijsktra's Algorithm is preferred, unless there are negative edges in
                    the graph which Dijsktra's Algorithm cannot handle.
                </li>
                <li>This is a <a href="https://www.youtube.com/watch?v=FtN3BYH2Zes" target="_blank" rel="noopener noreferrer">Youtube video</a>
                    explaining some of the main ideas regarding Bellman-Ford algorithm.</li>
            </ul>   
        </div>
    </div>
</div>