<div style="background-color: rgb(255, 246, 234); padding: 0px 50px;" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px">
    <a style="text-decoration: none; color:black" href="mailto: kui.an.andrew.tan@gmail.com" rel="noopener noreferrer">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <fa-icon [icon]="faEnvelope" size="2x"></fa-icon>
        </div>
    </a>
    <a style="text-decoration: none; color:black" href="https://www.linkedin.com/in/kui-an-andrew-tan/" target="_blank" rel="noopener noreferrer">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
        </div>
    </a>
    <a style="text-decoration: none; color:black" href="https://github.com/TKA-Andrew" target="_blank" rel="noopener noreferrer">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <fa-icon [icon]="faGithub" size="2x"></fa-icon>
        </div>
    </a>
    <span class="app-spacer"></span>
    <p>&#169; 2021 Tan Kui An Andrew</p>
</div>