@use '../../technical-notes-content.scss';
tr {
    width: 100%;
    display: flex;
}

th {
    width: 50%;
    border: black;
    border-left: black;
    border-right: black;
    border: 1px solid black;
}

td {
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    border: black;
    border-left: black;
    border-right: black;
    border: 1px solid black;
}

.matheqn {
    font-size: 20px;
}

.matheqn-small {
    font-size: 15px;
}

mat-expansion-panel {
    color: black;
}

mat-panel-title {
    line-height: 14px;
    text-transform: none;
}

mat-expansion-panel-header {
    padding-top: 5px;
    padding-bottom: 5px;
}

.mat-expansion-panel-header {
    padding-left: 24px; 
    padding-right: 24px; 
    padding-top: 5px;
    padding-bottom: 5px;
    height: fit-content;
}