<div class="flexContainer">
    <mat-accordion displayMode="flat" style="padding-left: 5px; padding-right: 5px;">
        <mat-expansion-panel style="margin-top: 5px;">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Fundamental
                </mat-panel-title>
            </mat-expansion-panel-header>
            <button mat-button class="listItem" (click)="scrollTo('clientServerModel')">Client-Server Model</button>
        </mat-expansion-panel>
    </mat-accordion>
    <div fxLayout="column" fxLayout="column">
        <div>
            <h1>Systems Expert Fundamental</h1>
            <h2>Introduction</h2>
            <p>These are my personal notes when I go through the <a href="https://www.algoexpert.io/systems/fundamentals" target="_blank" rel="noopener noreferrer">SystemsExpert course</a>.</p>
            <p>These are just short notes, the course is recommended as there are some great explanations for different algorithm questions.</p>
            <p>However, for alternative option, you may proceed with <a href="https://leetcode.com/" target="_blank" rel="noopener noreferrer">LeetCode</a>.</p>
            <mat-divider></mat-divider>
        </div>
        <div id="clientServerModel">
            <h2>Client-Server Model</h2>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>