<div class="flexContainer">
    <div fxLayout="column">
        <div>
            <h1>Unix / Unix-Like Notes</h1>
            <h2>Introduction</h2>
            <ul>
                <li>There always confusion about Unix, Linux, Ubuntu etc. Hopefully this note can clear your doubts.</li>
                <li>Most of the content here are my notes along the way experiencing with Unix/Linux.</li>
            </ul>
            <mat-divider></mat-divider>
        </div>

        <div>
            <h2><a href="https://swcarpentry.github.io/shell-novice/reference.html#filesystem-hierarchy"
                target="_blank" rel="noopener noreferrer">UNIX Filesystem Hierarchy</a></h2>
            <mat-divider></mat-divider>
        </div>

        <div>
            <h2>What is kernel</h2>
            <mat-divider></mat-divider>
        </div>

        <div>
            <h2>Types of shells</h2>
            <mat-divider></mat-divider>
        </div>

        <div>
            <h2>UNIX / UNIX-like OS commands</h2>
            <div>
                <h3>sed</h3>
                <ul>    
                    <li>SED command in UNIX stands for stream editor.</li>
                    <li>It can perform lots of functions on file like searching, find and replace, insertion or deletion.</li>
                </ul>
            </div>
            <mat-divider></mat-divider>
        </div>

        <div>
            <h2>Bash commands</h2>
            <div>
                <h3>set</h3>
                <ul>    
                    <li>The set command in Bash allows you to control the behavior of your scripts by managing specific flags and properties.</li>
                    <li><a href="https://linuxhint.com/set-command-bash/#:~:text=The%20set%20command%20in%20Bash,behavior%20does%20not%20cause%20problems."
                         target="_blank" rel="noopener noreferrer">Reference</a></li>
                </ul>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>