<div class="flexContainer">
    <mat-accordion displayMode="flat" style="padding-left: 5px; padding-right: 5px;">
        <mat-expansion-panel style="margin-top: 5px;">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    JavaScript
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
    </mat-accordion>
    <div fxLayout="column" fxLayout="column">
        <div>
            <h1>Javascript</h1>
            <h2>Introduction</h2>
            <p>The following are mainly the notes for Javascript in Node.js using CommonJS modules. </p>
            <p>Some people always confused that Javascript is asynchronous in nature, but actually Javascript is synchronous and single-threaded. 
                Javascript can behave as if it is asynchronous when there are some ajax calls, events or timers being used, but in actual, it is still synchronous.
            For a detailed explanation, please refer to the answer posted by user2603796 in this <a href="https://stackoverflow.com/questions/2035645/when-is-javascript-synchronous" target="_blank" rel="noopener noreferrer">stackoverflow post</a>.</p>
            <mat-divider></mat-divider>
        </div>
</div>