<div class="flexContainer">
    <mat-accordion displayMode="flat" style="padding-left: 5px; padding-right: 5px;">
        <mat-expansion-panel style="margin-top: 5px;">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    JavaScript
                </mat-panel-title>
            </mat-expansion-panel-header>
            <button mat-button class="listItem" (click)="scrollTo('hoisting')">Hoisting</button>
            <button mat-button class="listItem" (click)="scrollTo('var&let&const')">var, let & const</button>
            <button mat-button class="listItem" (click)="scrollTo('asynchronousProgramming')">Asynchronous Programming</button>
        </mat-expansion-panel>
    </mat-accordion>
    <div>
        <div>
            <h1>Javascript</h1>
            <h2>Introduction</h2>
            <p>The following are mainly the notes for Javascript in Node.js 14 runtime environment.</p>
            <p>Some people always confused that Javascript is asynchronous in nature, but actually Javascript is synchronous and single-threaded. 
                Javascript can behave as if it is asynchronous when there are some ajax calls, events or timers being used, but in actual, it is still synchronous.
            For a detailed explanation, please refer to the answer posted by user2603796 in this <a href="https://stackoverflow.com/questions/2035645/when-is-javascript-synchronous" target="_blank" rel="noopener noreferrer">stackoverflow post</a>.</p>
            <mat-divider></mat-divider>
        </div>
        <div id="hoisting">
            <h2>Hoisting</h2>
            <p>Hoisting is JavaScript's default behavior of moving declarations to the top. Therefore, in JavaScript, a variable can be declared after it has been used.</p>
            <p>Understanding Javascript Hoisting is important for us to futher understand why there is difference in using var and let in some cases.</p>
            <p>Hoisting can only be demonstrated in CommonJS as the ES6 module is automatically in strict-mode</p>
            <pre>
                <code>
    // WRITTEN CODE

    x = 5
    var x
    console.log(x)


    // ACTUAL PROCESS due to hoisting

    var x
    x = 5
    console.log(x)
                </code>
            </pre>
            <p>The following example demonstrates why the result is undefined instead of having ReferenceError when the if statement is not met:</p>
            <pre>
                <code>
    // WRITTEN CODE

    function isLessThan10_var (number) &#123;
        if (number &lt; 10) &#123;
            var lessThan10 = true
        }
        return lessThan10
    }
    console.log(isLessThan10_var(2)) // &lt;&lt; true
    console.log(isLessThan10_var(12)) // &lt;&lt; undefined


    // ACTUAL PROCESS due to hoisting

    function isLessThan10_var (number) &#123;
        var lessThan10
        if (number &lt; 10) &#123;
            lessThan10 = true
        }
        return lessThan10
    }
    console.log(isLessThan10_var(2)) // &lt;&lt; true
    console.log(isLessThan10_var(12)) // &lt;&lt; undefined
                </code>
            </pre>
            <p><a href="https://www.geeksforgeeks.org/javascript-hoisting/" target="_blank" rel="noopener noreferrer">A much detailed reference.</a></p>
            <mat-divider></mat-divider>
        </div>
        <div id="var&let&const">
            <h2>var, let & const</h2>
            <p>The let statement is one of the most well-known features in ES6, and it is not available before ES6.</p>
            <p>Simple & quick notes:</p>
            <ul>
                <li>var is function-scoped</li>
                <li>let is block-scoped</li>
                <li>const is block-scoped</li>
                <li>const behaves similar to let when it comes to hoisting, except that it cannot be modified after declaration</li>
            </ul>
            <p>For the code snippet below, both .mjs and .cjs will have the same result:</p>
            <pre>
                <code>
    function printX_var() &#123;
        try &#123;
            console.log('printX_var OUTPUT:', x);
            var x=5; // function-scoped and supports hoisting
            console.log('printX_var OUTPUT:', x);
        }
        catch(err) &#123;
            console.log('printX_var ERROR: ', err.message)
        }
    }
    
    printX_var()
    
    function printX_let() &#123;
        try &#123;
            console.log('printX_let OUTPUT:', x);
            let x=5; // block-scoped and not affected by hoisting
            console.log('printX_let OUTPUT:', x);
        }
        catch(err) &#123;
            console.log('printX_let ERROR: ', err.message)
        }
    }
    
    printX_let()
    
    function printX_const() &#123;
        try&#123;
            console.log('printX_const OUTPUT:', x);
            const x=5; // block-scoped and not affected by hoisting
            console.log('printX_const OUTPUT:', x);
        }
        catch(err) &#123;
            console.log('printX_const ERROR: ', err.message)
        }
    }
    
    printX_const()
                </code>
            </pre>
            <pre>
                <code>
    // console.log output

    printX_var OUTPUT: undefined
    printX_var OUTPUT: 5
    printX_let ERROR:  Cannot access 'x' before initialization
    printX_const ERROR:  Cannot access 'x' before initialization
                </code>
            </pre>
            <mat-divider></mat-divider>
        </div>
        <div id="asynchronousProgramming">
            <h2>Javascript Asynchronous Programming</h2>
            <p>Again, JavaScript is synchronous by default and is single threaded. 
                This means that Javascript code cannot create new threads and run in parallel.</p>
            <p>However, with the APIs provided by the broswers' engines or Node.js, it can behave as if it is asynchronous.</p>
            <p>Some common APIs that react asynchronously such as onClick, onMouseOver and OnChange are all not from Javascript engine itself.</p>
            <p>To do JavaScript Asynchronous Programming, you can make use of these:</p>
            <ul>
                <li><a href="https://nodejs.dev/learn/javascript-asynchronous-programming-and-callbacks" target="_blank" rel="noopener noreferrer">Event Callbacks</a></li>
                <li><a href="https://nodejs.dev/learn/understanding-javascript-promises" target="_blank" rel="noopener noreferrer">Promises</a></li>
                <li><a href="https://nodejs.dev/learn/modern-asynchronous-javascript-with-async-and-await" target="_blank" rel="noopener noreferrer">Async/Await</a></li>
            </ul>
            <p>The references above are very detailed and easy to understand. If you would like to see some templates, you may check out my 
                <a href="https://github.com/TKA-Andrew/JavascriptTutorialTemplate" target="_blank" rel="noopener noreferrer">Github Repo</a>,
                especially the JS_Async.js which mimics the database query process and how to control the asynchronous flow using Promises and Async/Await.</p>
            <p><a href="https://advancedweb.hu/how-to-use-async-functions-with-array-foreach-in-javascript/" target="_blank" rel="noopener noreferrer">This</a> is another revelant reference.</p>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>