<div class="flexContainer align-justify-center" style="min-width: fit-content; background-image: url('assets/images/scott-webb-OxHPDs4WV8Y-unsplash.jpeg'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;" appBackgroundImageLoaded (imageLoaded)="loaded()">
    <div class="home-div flex-row align-justify-center">
        <div class="flex-col icon-div" style="gap: 40px">
            <a style="color:black" href="mailto: kui.an.andrew.tan@gmail.com" rel="noopener noreferrer">
                <fa-icon [icon]="faEnvelope" size="3x"></fa-icon>
            </a>
            <a style="color:black" href="https://www.linkedin.com/in/kui-an-andrew-tan/" target="_blank" rel="noopener noreferrer">
                <fa-icon [icon]="faLinkedin" size="3x"></fa-icon>
            </a>
            <a style="color:black" href="https://github.com/TKA-Andrew" target="_blank" rel="noopener noreferrer">
                <fa-icon [icon]="faGithub" size="3x"></fa-icon>
            </a>
        </div>
        <img id="profile-img" src="assets/images/myNewProfilePic.jpg">
        <div class="flex-col align-justify-center">
            <p id="about-me-title">About Me</p>
            <p id="about-me-description">
                A robotics enthusiast with education background in Mechatronics and working experience as Software Engineer in a Robotics Company.
                <br><br>Looking forward to keep improving myself and becoming a top-tier Robotics Software Engineer.
            </p>
        </div>
    </div>
</div>
