<div fxLayout="column" fxLayoutGap="10px">
    <h1>Learning CMake</h1>

    <h2>Introduction</h2>
    <ul>
        <li>This tutorial will only cover the common usage of CMakeLists. </li>
        <li>In this tutorial, we will not make use of Visual Studio. We will only use Visual Studio Code and command
            prompt to build and run our program.</li>
    </ul>
    <mat-divider></mat-divider>

    <h2>Pre-requisites</h2>
    <h3>Static libraries & Dynamic libraries</h3>
    <ul>
        <li>When we want to use built libraries in our package, no matter is static library or dynamic library, we will
            need to include the respective header files (.h files) as well.</li>
        <table style="margin-top: 20px;">
            <tr>
                <th>Static libraries</th>
                <th>Dynamic libraries</th>
            </tr>
            <tr>
                <td>.lib (on Windows) & .a (on Linux) files</td>
                <td>.dll (on Windows) & .so (on Linux) files</td>
            </tr>
            <tr>
                <td>locked into program at compile-time</td>
                <td>loaded into program at run-time</td>
            </tr>
            <tr>
                <td>need to recompile if the code implementation changes</td>
                <td>only need to recompile when the function declarations change</td>
            </tr>
            <tr>
                <td>the executable file will be stable and untouched</td>
                <td>the executable file will be corrupted if the dynamic library is modified and corrupted</td>
            </tr>
            <tr>
                <td>faster execution time</td>
                <td>slower execution time</td>
            </tr>
            <tr>
                <td>increases the excutable file's size</td>
                <td>doesn't have much impact on the executable file's size</td>
            </tr>
        </table>
    </ul>

    <h3>What are header-only libraries and what are the pros and cons?</h3>
    <ul>
        <li>Header-only libraries are libraries where the entire library is implemented using header files only (no .lib
            and .dll files will be provided)</li>
        <li>What are the advantages?</li>
        <ul>
            <li>Header-only library is the only choice when dealing with C++ templates, because the compiler needs to
                know the full definition of the templates in order to instantiate.</li>
            <li>We do not need to build the library, and user doesn't need to compile our library before using it</li>
        </ul>
        <li>What are the disadvantages?</li>
        <ul>
            <li>Most probably will have increased compilation time</li>
            <li>if you change anything about the code in the header, then you’ll need to recompile every file that
                includes that header</li>
            <li>Source code implementation is visible to user as it is written in the header file</li>
        </ul>
    </ul>
    <mat-divider></mat-divider>


    <h2>01 - Simple CMake</h2>
    <ul>
        <li>First of all, open Visual Studio Code and install the C++ extension</li>
        <img style="width: 80%;" src="assets/images/LearningCMake/learningCMake01.JPG">
        <li>Open a folder for this tutorial, and create these files/folders:</li>
        <ul>
            <li>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                CMakeLists.txt
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <pre>
                                  <code>
    cmake_minimum_required(VERSION 3.16.3)

    project(learning_cmake) # PROJECT_NAME
    
    add_executable($&#123;PROJECT_NAME} src/main.cpp src/adder.cpp)
                                  </code>
                              </pre>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>
            <li>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                src
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul>
                            <li>
                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                adder.cpp
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <pre>
                                                <code>
    float add (float a, float b) &#123;
        return a+b;
    }
                                                </code>
                                            </pre>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </li>
                            <li>
                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                main.cpp
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <pre>
                                                <code>
    #include &lt;iostream>
    float add(float a, float b);
    
    int main()
    &#123;
        std::cout&lt;&lt;"Hello World!\n";
        std::cout&lt;&lt;add(1.2f, 2.3f)&lt;&lt;'\n';
        return 0;
    }
                                                </code>
                                            </pre>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>
        </ul>
        <li>You will notice that there is an error saying "cannot open source file iostream". This error is because
            Visual Studio Code doesn't know where to
            find those libraries. Hence, you need to "Ctrl + Shift + P", and select "C/C++: Edit Configurations(JSON)"
            or "C/C++: Edit Configurations(UI)"
        </li>
        <img style="width: 80%;" src="assets/images/LearningCMake/learningCMake02.JPG">
        <li>Then, we need to edit the c_cpp_properties.json file. If you have Visual Studio installed, supposedly you
            have the cl.exe compiler, then you need to modify
            the intelliSenseMode, so that your intelliSenseMode tally with the compiler you used. Other than that, you
            also need to include the urct libraries and
            VC basic libraries.
            <pre>
                    <code>
    &#123;
        "configurations": [
            &#123;
                "name": "Win32",
                "includePath": [
                    "$&#123;workspaceFolder}/**",
                    "C:/Program Files (x86)/Windows Kits/10/Include/10.0.10240.0/ucrt", // ucrt libraries such as stdio.h and stddef.h
                    "C:/Program Files (x86)/Microsoft Visual Studio 14.0/VC/include" // VC basic libraries such as stdint.h
                ],
                "defines": [
                    "_DEBUG",
                    "UNICODE",
                    "_UNICODE"
                ],
                "compilerPath": "C:\\Program Files (x86)\\Microsoft Visual Studio 14.0\\VC\\bin\\cl.exe",
                "cStandard": "c17",
                "cppStandard": "c++17",
                "intelliSenseMode": "windows-msvc-x64"
            }
        ],
        "version": 4
    }
                    </code>
                </pre>
        </li>
        <li>The content of CMakeLists.txt is quite straight forward:</li>
        <ul>
            <li>cmake_minimum_required is to set the minimum required version of cmake for your project.</li>
            <li>project() is to set your project name</li>
            <li>add_executable() is to define the source files needed for your target executable. In this example, our
                executable is our project name,
                and the source files needed for that executable are the main.cpp and adder.cpp
            </li>
        </ul>
        <li>Basically there are only 2 steps in CMake process:</li>
        <ul>
            <li>Generate build files</li>
            <li>Use the build files to build our project</li>
        </ul>
        <li>Generating build files</li>
        <ul>
            <li>First of all, run <span class="CLI-font">cmake --help</span> on your command prompt terminal, and then
                look at the "The generators available on this platform".</li>
            <li>Which means, you can generate different build files for different build platforms (such as Visual Studio
                14, Visual Studio 15, Make, Ninja, etc)</li>
            <li>I have Visual Studio 2015 installed, so I will use this Generator in this tutorial.</li>
            <li>I will change directory into this repo, and then use run the following commands to generate the build
                files in the build folder:</li>
            <ul>
                <li><span class="CLI-font">mkdir build</span></li>
                <li><span class="CLI-font">cd build</span></li>
                <li><span class="CLI-font">cmake ./.. -G "Visual Studio 14 2015 Win64"</span></li>
            </ul>
            <li>The "./.." is to define that our CMakeLists.txt is located one path above current path.</li>
            <img style="width: 80%;" src="assets/images/LearningCMake/learningCMake03.JPG">
            <li>Now supposedly you see some files in the "build" folder.</li>
            <li>If something wrong with your build, you simply delete the "build" folder and try again.</li>
        </ul>
        <li>Build the project</li>
        <ul>
            <li>To build the project, simply <span class="CLI-font">cmake --build [the directory of your build
                    files]</span></li>
            <ul>
                <li>For example: <span class="CLI-font">cmake --build .</span></li>
            </ul>
            <li>Then you will see learning_cmake.exe is generate in the Debug folder.</li>
            <img style="width: 80%;" src="assets/images/LearningCMake/learningCMake04.JPG">
            <li>Note that the name of this exe file is because of the add_executable() in CMakeLists.txt</li>
            <li>You might also notice that by default it is built for debug.</li>
            <li>To build for release:</li>
            <ul>
                <li><span class="CLI-font">cmake --build . --config release</span></li>
            </ul>
            <li>You can go into the folder and try to run the .exe file.</li>
            <img style="width: 80%;" src="assets/images/LearningCMake/learningCMake05.JPG">

        </ul>
    </ul>
    <mat-divider></mat-divider>


    <h2>02 - Implementing subpackage (our own library)</h2>
    <ul>
        <li>This section will show how can we compile our library (in this example, Adder) as subpackage, and link it to
            our main package.</li>
        <li>Add/Update your files/folders:</li>
        <ul>
            <li>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                CMakeLists.txt
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <pre>
                                  <code>
    cmake_minimum_required(VERSION 3.16.3)

    project(learning_cmake) # PROJECT_NAME
    
    add_executable($&#123;PROJECT_NAME} src/main.cpp)
    
    # add subdirectory which has its own CMakeLists.txt
    add_subdirectory(Adder)
    
    # link the adder library to target
    target_link_libraries($&#123;PROJECT_NAME} PUBLIC adder)
    
    # define the include path needed by target
    target_include_directories($&#123;PROJECT_NAME} PUBLIC
                                "$&#123;PROJECT_SOURCE_DIR}/Adder"
    )
                                  </code>
                              </pre>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>
            <li>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                src
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul>
                            <li>
                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                main.cpp
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <pre>
                                                <code>
    #include &lt;iostream>
    float add(float a, float b);
    
    int main()
    &#123;
        std::cout&lt;&lt;"Hello World!\n";
        std::cout&lt;&lt;add(1.2f, 2.3f)&lt;&lt;'\n';
        return 0;
    }
                                                </code>
                                            </pre>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>
            <li>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Adder
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul>
                            <li>
                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                adder.cpp
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <pre>
                                                <code>
    #include "adder.h"

    float add (float a, float b) &#123;
        return a+b;
    }
                                                </code>
                                            </pre>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </li>
                            <li>
                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                adder.h
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <pre>
                                              <code>
    #ifndef ADDER_H
    #define ADDER_H
    
    float add(float a, float b);
    
    #endif // ADDER_H
                                              </code>
                                          </pre>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </li>
                            <li>
                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                CMakeLists.txt
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <pre>
                                              <code>
    add_library(adder adder.cpp)
                                              </code>
                                          </pre>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>
        </ul>
        <li>In the CMakeLists.txt of the Adder folder, we only have one line.</li>
        <ul>
            <li>Previously we used "add_executable()" to generate .exe files, now we use "add_library()" to generate
                libraries.</li>
            <li>If you look at the <a href="https://cmake.org/cmake/help/latest/command/add_library.html"
                    target="_blank" rel="noopener noreferrer">
                    documentation</a>, you will notice that we can further define whether we want to build static
                library or dynamic library. But we
                not going to cover it here.</li>
            <li></li>
        </ul>
        <li>Let's delete the build folder, generate build files and build the project</li>
        <ul>
            <li><span class="CLI-font">rm -rf build</span></li>
            <li><span class="CLI-font">mkdir build</span></li>
            <li><span class="CLI-font">cd build</span></li>
            <li><span class="CLI-font">cmake ./.. -G "Visual Studio 14 2015 Win64"</span></li>
            <li><span class="CLI-font">cmake --build . --config release</span></li>
        </ul>
        <li>Before proceeding with further explanation, let's align that a <b>target</b> is referring to an executable
            or a library built by cmake.</li>
        <li>In the CMakeLists.txt of the main package:</li>
        <ul>
            <li>We use add_subdirectory() to include the entire Adder directory into our package</li>
            <li>We use target_link_libraries() to link the adder library to <b>our target</b></li>
            <li>We use target_include_directories() to include the header files into <b>our target</b>. This is why our
                main.cpp is able to include the adder.h</li>
        </ul>
        <li>include_directories vs target_include_directories</li>
        <ul>
            <li><b>include_directories()</b> affects directory scope, which means all subdirectories added after this
                line also will include the directories mentioned by include_directories</li>
            <li><b>target_include_directories()</b> has target scope only</li>
            <li>Generally target_include_directories should be preferred</li>
        </ul>
        <li><b>include_directories()</b> and <b>target_include_directories()</b> are for us to specify
            the directories that the compiler uses to look for include files (.h files).</li>
        <li><b>add_subdirectory</b> is for us to specify a subdirectory which has CMakeLists.txt and code files there.
        </li>
        <li>If you look at the build folder, you will see there is a "Adder" folder there. This means the
            "add_subdirectory" make it an independent sub-package.
        </li>
        <li>At the end of CMakeLists.txt, we added target_include_directories because our target (main.cpp)
            uses <span class="script-font">#include "adder.h"</span>. If we didnt specify where the include_directories
            are, the target wouldn't be able to find the adder.h IF THE HEADER IS NOT AT THE SAME DIRECTORY AS
            WHERE THE TARGET IS.
        </li>
        <li>The CMakeLists.txt of Adder doesnt need to have target_include_directories because the adder.h and adder.cpp
            are in the same directory. If you open a subfolder called "include" in the Adder folder, and move the
            adder.h
            file into it, you will have error ("Cannot open include file: 'adder.h': No such file or
            directory") when you try to compile the project.</li>
        <li>If you put the adder.h into a subdirectory called "include" in the Adder folder, you need to
            modify the CMakeLists.txt:</li>
        <ul>
            <li>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Adder
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul>
                            <li>
                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                adder.cpp
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <pre>
                                                <code>
    #include "adder.h"

    float add (float a, float b) &#123;
        return a+b;
    }
                                                </code>
                                            </pre>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </li>
                            <li>
                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                include
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <ul>
                                            <li>
                                                <mat-accordion>
                                                    <mat-expansion-panel>
                                                        <mat-expansion-panel-header>
                                                            <mat-panel-title>
                                                                adder.h
                                                            </mat-panel-title>
                                                        </mat-expansion-panel-header>
                                                        <pre>
                                                            <code>
    #ifndef ADDER_H
    #define ADDER_H

    float add(float a, float b);

    #endif // ADDER_H
                                                            </code>
                                                        </pre>
                                                    </mat-expansion-panel>
                                                </mat-accordion>
                                            </li>
                                        </ul>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </li>
                            <li>
                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                CMakeLists.txt
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <pre>
                                              <code>
    add_library(adder adder.cpp)
    target_include_directories(adder PUBLIC "$&#123;CMAKE_CURRENT_SOURCE_DIR}/include")
                                              </code>
                                          </pre>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>
            <li>You will notice actually the "target_include_directories" of the top level CMakeLists.txt
                can be removed and it will still work. This is because of the "PUBLIC" keyword (in CMakeLists.txt
                of Adder) will populate the include directories to other targets that use this target. If you change the
                Keyword to "PRIVATE", then you will need that target_include_directories in top level CMakeLists.txt
                again.
            </li>
            <li>The PUBLIC/PRIVATE/INTERFACE keywords are needed for include_directories() and link_libraries(),
                here is a quick summary for these 3 keywords:
            </li>
            <table style="margin-top: 20px;">
                <tr>
                    <th>Keyword</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>PUBLIC</td>
                    <td>All the objects/directories following PUBLIC will be used for the current target and the other
                        targets that have dependencies on the current target.</td>
                </tr>
                <tr>
                    <td>PRIVATE</td>
                    <td>All the objects/directories following PRIVATE will be used for the current target only.</td>
                </tr>
                <tr>
                    <td>INTERFACE</td>
                    <td>All the objects/directories following INTERFACE will NOT be used for the current target
                        but will be accessible for the other targets that have dependencies on the current target.</td>
                </tr>
            </table>
        </ul>
    </ul>
    <mat-divider></mat-divider>


    <h2>03 - Building shared library and Cross-Platform Handling</h2>
    <ul>
        <li>Edit adder.h and its CMakeLists.txt to handle cross platform usage</li>
                <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            Adder
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <ul>
                          <li>
                            <mat-accordion>
                                <mat-expansion-panel>
                                  <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        adder.h
                                    </mat-panel-title>
                                  </mat-expansion-panel-header>
                                  <pre>
                                      <code>
#ifndef ADDER_H
#define ADDER_H

#if defined (_MSC_VER)

#ifdef ADDER_STATIC
    #define ADDER_API
#else
    #ifdef ADDER_EXPORTS
        #define ADDER_API __declspec(dllexport)
    #else
        #define ADDER_API __declspec(dllimport)
    #endif
#endif

#else
#define ADDER_API
#endif


ADDER_API float add(float a, float b);

#endif // ADDER_H
                                      </code>
                                  </pre>
                                </mat-expansion-panel>
                            </mat-accordion>
                          </li>
                          <li>
                            <mat-accordion>
                                <mat-expansion-panel>
                                  <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        CMakeLists.txt
                                    </mat-panel-title>
                                  </mat-expansion-panel-header>
                                  <pre>
                                      <code>
# reference: https://stackoverflow.com/questions/17511496/how-to-create-a-shared-library-with-cmake

cmake_minimum_required(VERSION 3.16.3)

project(adder VERSION 1.0.1 DESCRIPTION "adder library demo")

# reference: https://cgold.readthedocs.io/en/latest/tutorials/libraries/static-shared.html
# don't specify STATIC or SHARED if you are going to build both
add_library($&#123;PROJECT_NAME} adder.cpp)

# good practice
set_target_properties($&#123;PROJECT_NAME} PROPERTIES VERSION $&#123;PROJECT_VERSION})

# You can also set SOVERSION to a major number of VERSION. So libmylib.so.1 will be a symlink to libmylib.so.1.0.0.
set_target_properties($&#123;PROJECT_NAME} PROPERTIES SOVERSION 1)

# Declare public API of your library. This API will be installed for the third-party application.
set_target_properties($&#123;PROJECT_NAME} PROPERTIES PUBLIC_HEADER include/adder.h)

# To install (copy) the target files generated into install directory
# User need to run: cmake --install [DIR]
# The [DIR] is the directory of where cmake_install.cmake is generated
# Reference for default dir: https://cmake.org/cmake/help/latest/command/install.html
install(TARGETS $&#123;PROJECT_NAME} 
    PUBLIC_HEADER DESTINATION include   # put header files in include directory
    ARCHIVE DESTINATION lib             # put static library in lib directory
    LIBRARY DESTINATION lib             # put lib file in lib directory
    RUNTIME DESTINATION bin)            # put dll in bin directory

target_include_directories($&#123;PROJECT_NAME} PUBLIC "$&#123;CMAKE_CURRENT_SOURCE_DIR}/include")
                                      </code>
                                  </pre>
                                </mat-expansion-panel>
                            </mat-accordion>
                          </li>
                      </ul>
                    </mat-expansion-panel>
                </mat-accordion>
        <li>You also need to define the preprocessor definitions in your top level CMakeLists.txt.
            Take note that I added them before add_subdirectory(Adder), so that the warning generated
            due to lacking of preprocessor definitiions can be suppressed. You also need to install the executable.
            I also edited the main.cpp to validate the library that is used.
        </li>
            <ul>
                <li>
                    <mat-accordion>
                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                                CMakeLists.txt
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <pre>
                              <code>
cmake_minimum_required(VERSION 3.16.3)

project(learning_cmake) # PROJECT_NAME

add_executable($&#123;PROJECT_NAME} src/main.cpp)

if (BUILD_SHARED_LIBS)
#define preprocessor definition to use adder DLL
add_compile_definitions("ADDER_EXPORTS")
else ()
#additional preprocessor definition for static usage
add_compile_definitions("ADDER_STATIC")
endif ()

# add subdirectory which has its own CMakeLists.txt
add_subdirectory(Adder)

# link the adder library to target
target_link_libraries($&#123;PROJECT_NAME} PUBLIC adder)

# to install the executable as well
install(TARGETS $&#123;PROJECT_NAME} DESTINATION bin)

                              </code>
                          </pre>
                        </mat-expansion-panel>
                    </mat-accordion>
                </li>
                <li>
                    <mat-accordion>
                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                                src
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <ul>
                              <li>
                                  <mat-accordion>
                                      <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                          <mat-panel-title>
                                              main.cpp
                                          </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <pre>
                                            <code>
#include &lt;iostream>
#include "adder.h"

int main()
&#123;
#ifdef ADDER_STATIC
    std::cout&lt;&lt;"Using Static Library"&lt;&lt;'\n';
#endif
#ifdef ADDER_EXPORTS
    std::cout&lt;&lt;"Using Shared Library"&lt;&lt;'\n';
#endif
std::cout&lt;&lt;"Hello World!\n";
std::cout&lt;&lt;add(1.2f, 2.3f)&lt;&lt;'\n';
return 0;
}
                                            </code>
                                        </pre>
                                      </mat-expansion-panel>
                                  </mat-accordion>
                              </li>
                          </ul>
                        </mat-expansion-panel>
                    </mat-accordion>
                </li>
            </ul>
        <li>Take note that:</li>
            <ul>
                <li>The installation paths above are relative paths.</li>
                <li>CMAKE_INSTALL_PREFIX defaults to /usr/local on UNIX and c:/Program Files/$&#123;PROJECT_NAME} on Windows.</li>
                <li>This prefix is used by default if the DESTINATION is a relative path.</li>
                <li>Hence, our files will be installed into C:ProgramFiles.</li>
                <li>We can specify ABSOLUTE paths such as $&#123;CMAKE_BUILD_DIR}/bin , but this is not
                    what we want to do in this tutorial.
                </li>
                <li>In this tutorial, we put the shared libraries in bin folder together with the executable,
                    instead of installing it into system folder.
                </li>
                <li>System Folder for Windows:</li>
                    <ul>
                        <li>System (for 32-bit OS)</li>
                        <li>System32 (for 64-bit OS)</li>
                        <li>SysWOW64 (for 64-bit OS)</li>
                    </ul>
                <li>System Search Path for Linux (different variants might have different ):</li>
                    <ul>
                        <li>/etc/ld.so.conf</li>
                        <li>LD_LIBRARY_PATH environment variable</li>
                        <li>/lib and /usr/lib (for 32-bit Linux)</li>
                        <li>/lib64 and /usr/lib64 (for 64-bit Linux)</li>
                    </ul>
            </ul>
        <li>Before proceeding with the following sessions, you should use command prompt with administrator privilege,
            this is because later we will install files into C:Program Files , which requires admin rights.
        </li>
        <li>Using UnixMakeFiles on Windows Platform</li>
            <ul>
                <li>Run for static (Debug):
                    <ul>
                        <li><span class="CLI-font">cmake .. -B ./static_make_debug -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=Debug</span></li>
                        <li><span class="CLI-font">cmake --build ./static_make_debug</span></li>
                        <li>You will notice after building we already have the exe in build folder, but we not going to use it.</li>
                        <li>We going to install it into our system: <span class="CLI-font">cmake --install ./static_make_debug</span></li>
                        <li>You will notice there is a new folder called "learning_cmake" in Program Files (x86).</li>
                        <li>In the folder you will see a bin folder, lib folder and include folder.</li>
                        <li>You can try to run the executable.</li>
                    </ul>
                </li>
                <li>Run for shared (Debug):
                    <ul>
                        <li>Delete the learning_cmake folder in the C: Program Files (x86)</li>
                        <li><span class="CLI-font">cmake .. -B ./shared_make_debug -G "Unix Makefiles" -DBUILD_SHARED_LIBS=ON -DCMAKE_BUILD_TYPE=Debug</span></li>
                        <li><span class="CLI-font">cmake --build ./shared_make_debug</span></li>
                        <li><span class="CLI-font">cmake --install ./shared_make_debug</span></li>
                        <li>You may go to the "learning_cmake" folder in Program Files (x86) and run the executable.</li>
                    </ul>
                </li>
                <li>Run for static (Release):
                    <ul>
                        <li>Delete the learning_cmake folder in the C: Program Files (x86)</li>
                        <li><span class="CLI-font">cmake .. -B ./static_make_release -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=Release</span></li>
                        <li><span class="CLI-font">cmake --build ./static_make_release</span></li>
                        <li><span class="CLI-font">cmake --install ./static_make_release</span></li>
                        <li>Validate your result</li>
                    </ul>
                </li>
                <li>Run for shared (Release):
                    <ul>
                        <li>Delete the learning_cmake folder in the C: Program Files (x86)</li>
                        <li><span class="CLI-font">cmake .. -B ./shared_make_release -G "Unix Makefiles" -DBUILD_SHARED_LIBS=ON</span></li>
                        <li><span class="CLI-font">cmake --build ./shared_make_release</span></li>
                        <li><span class="CLI-font">cmake --install ./shared_make_release</span></li>
                        <li>Validate your result</li>
                    </ul>
                </li>
            </ul>
        <li>Using Visual Studio on Windows Platform</li>
            <ul>
                <li>Run for static (Debug):
                    <ul>
                        <li>Delete the learning_cmake folder in the C: Program Files (x86)</li>
                        <li>Let's configure for both debug and release: <span class="CLI-font">cmake .. -B ./static_vs -G "Visual Studio 14 2015 Win64" -DCMAKE_CONFIGURATION_TYPES=Debug;Release</span></li>
                        <li>Build for debug: <span class="CLI-font">cmake --build ./static_vs --config Debug</span></li>
                        <li>You will see static_vs/Debug folder, but we going to ignore them and only install the
                            necessary files into our C:Program Files.</li>
                        <li><span class="CLI-font">cmake --install ./static_vs --config Debug</span></li>
                        <li>You will see the "learning_cmake" folder in C:Program Files.</li>
                        <li>Have a look at its content and try to run the exe.</li>
                    </ul>
                </li>
                <li>Run for shared (Debug):
                    <ul>
                        <li>Delete the learning_cmake folder in the C: Program Files</li>
                        <li>Let's configure for both debug and release: <span class="CLI-font">cmake .. -B ./shared_vs -G 
                            "Visual Studio 14 2015 Win64" -DBUILD_SHARED_LIBS=ON -DCMAKE_CONFIGURATION_TYPES=Debug;Release</span></li>
                        <li><span class="CLI-font">cmake --build ./shared_vs --config Debug</span></li>
                        <li><span class="CLI-font">cmake --install ./shared_vs --config Debug</span></li>
                        <li>Validate your result</li>
                    </ul>
                </li>
                <li>Run for static (Release):
                    <ul>
                        <li>Delete the learning_cmake folder in the C: Program Files</li>
                        <li>Previously we configured for both Release and Debug, now we don't need to reconfigure it.</li>
                        <li>Build for Release: <span class="CLI-font">cmake --build ./static_vs --config Release</span></li>
                        <li><span class="CLI-font">cmake --install ./static_vs --config Release</span></li>
                        <li>Validate your result</li>
                    </ul>
                </li>
                <li>Run for shared (Release):
                    <ul>
                        <li>Delete the learning_cmake folder in the C: Program Files</li>
                        <li>Previously we configured for both Release and Debug, now we don't need to reconfigure it.</li>
                        <li><span class="CLI-font">cmake --build ./shared_vs --config Release</span></li>
                        <li><span class="CLI-font">cmake --install ./shared_vs --config Release</span></li>
                        <li>Validate your result</li>
                    </ul>
                </li>
            </ul>
    </ul>
    <mat-divider></mat-divider>


    <h2>04 - Generating Installer for Windows Platform using CPack</h2>
    <ul>
        <li><a href="https://www.yanivresearch.info/software/CPackWindowsTutorial/CPackForWindows.html" target="_blank" rel="noopener noreferrer">Reference</a></li>
        <li>First of all, you need to install NSIS software from <a href="https://sourceforge.net/projects/nsis/"
            target="_blank" rel="noopener noreferrer">here</a>.</li>
        <li>We need to add a license file that wil be displayed before users agree in installing our software. Hence,
            add a License.txt and write your license information there.
        </li>
        <li>According to the explanation <a href="https://stackoverflow.com/questions/47749953/cpack-cmake-windows-absolute-path-install-destination-forbidden" target="_blank" rel="noopener noreferrer">
            here</a>, "With NSIS generator you have no other way than using relative install paths". Hence, we can't use ABSOLUTE PATH in our install() command,
            which means we can't use those $&#123;CMAKE_BINARY_DIR} in our CMakeLists.txt. So I will put all the Adder files in bin folder:</li>
            <pre>
                <code>
if (BUILD_SHARED_LIBS)
    if (CMAKE_GENERATOR MATCHES "Visual Studio")
        if (CMAKE_BUILD_TYPE MATCHES Debug)
            install(TARGETS $&#123;PROJECT_NAME} CONFIGURATIONS Debug DESTINATION bin)
        else()
            install(TARGETS $&#123;PROJECT_NAME} CONFIGURATIONS Release DESTINATION bin)
        endif()
    else()
        install(TARGETS $&#123;PROJECT_NAME} DESTINATION bin)
    endif()
endif ()
                </code>
            </pre>
        <li>Edit your top-level CMakeLists.txt:</li>
            <ul>
                <li>Give your project a version: <span class="script-font">project(learning_cmake VERSION 1.0)</span></li>
                <li>Install your executable into the bin directory also: <span class="script-font">install(TARGETS $&#123;PROJECT_NAME} DESTINATION bin)</span></li>
                <li>Add these lines for CPack configuration:</li>
                    <pre>
                        <code>
include(InstallRequiredSystemLibraries)
set(CPACK_PACKAGE_NAME "Learning Cmake")
set(CPACK_PACKAGE_VENDOR "ABC Technologies Sdn Bhd")
set(CPACK_PACKAGE_DESCRIPTION_SUMMARY "A simple demo")
set(CPACK_RESOURCE_FILE_LICENSE "$&#123;CMAKE_SOURCE_DIR}/License.txt")
set(CPACK_PACKAGE_VERSION_MAJOR "$&#123;PROJECT_VERSION_MAJOR}")
set(CPACK_PACKAGE_VERSION_MINOR "$&#123;PROJECT_VERSION_MINOR}")
include(CPack)
                        </code>
                    </pre>
            </ul>
        <li>Run:</li>
            <ul>
                <li><span class="CLI-font">cmake .. -B ./cpackExample -G "Visual Studio 14 2015 Win64" -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=ON</span></li>
                <li><span class="CLI-font">cmake --build ./cpackExample --config Release</span></li>
                <li><span class="CLI-font">cd cpackExample</span></li>
                <li>Use cpack command to generate installer: <span class="CLI-font">cpack</span></li>
                <li>Execute the installer: <span class="CLI-font">"Learning Cmake-1.0-win64.exe"</span></li>
            </ul>
        <li>Open a new terminal and change directory to the installation path of this Learning Cmake 1.0 
            (most likely is C:\Program Files\Learning Cmake 1.0), and then you will see the all the files are in the
            bin folder. You may try to execute the exe and test whether it can run.
        </li>
    </ul>
    <mat-divider></mat-divider>
</div>