@use '../../technical-notes-content.scss';

tr {
    width: 100%;
    display: flex;
}

td {
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 8px;
    border-left: black;
    border-right: black;
    border: 2px solid black;
}

table {
    font-family: arial, sans-serif;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}
