<div class="flexContainer">    
    <div fxLayout="column" fxLayoutGap="10px">
        <h1>Django Notes</h1>
        <div>
            <h2>Introduction</h2>
            <ul>
                <li>Django is a free and open-source framework for building web apps with Python.</li>
                <li>Django has a few amazing features, and hence we don't need to code most of them from scratch:</li>
                    <ul>
                        <li>The admin site</li>
                        <li>Object-relational mapper(ORM)</li>
                        <li>Authentication</li>
                        <li>Caching</li>
                    </ul>
            </ul>
            <mat-divider></mat-divider>
        </div>
        <div>
            <h2>Getting Started</h2>
            <h3>Setting up the Development Environment</h3>
            <ul>
                <li>Pre-requisites:</li>
                    <ul>
                        <li>Python installed</li>
                        <li>pipenv installed</li>
                    </ul>
                <li>Creating a virtual environment for the django application</li>
                    <ul>
                        <li>Make a directory and change directory into it</li>
                        <li><span class="CLI-font">pipenv install django</span></li>
                        <li>After installing django into the virtual env, you should see
                            a Pipfile and Pipfile.lock in the directory. You can have a look
                            at the Pipfile.
                        </li>
                        <li>From the terminal output, you should also be able to see the
                            path of the virtual environment.
                        </li>
                    </ul>
            </ul>

            <h3>Creating a Django project</h3>
            <ul>
                <li>Use <span class="CLI-font">pipenv shell</span> to run PIP end shell</li>
                <li><span class="CLI-font">django-admin startproject core-app-name .</span></li>
                <li>The last argument '.' above is to ask django to use current directory as project directory.</li>
                <li>With the command line above, it will generate the following files:</li>
                    <ul>
                        <li>core-app-name</li>
                            <ul>
                                <li>__init__.py</li>
                                <li>asgi.py</li>
                                <li>settings.py</li>
                                <li>urls.py</li>
                                <li>wsgi.py</li>
                            </ul>
                        <li>manage.py</li>
                    </ul>
                <li>The __init__.py defines the core-app-name as a package.</li>
                <li>The settings.py defines the application settings.</li>
                <li>The urls.py module defines the URLs of the application.</li>
                <li>The asgi.py and wsgi.py are used for deployment.</li>
                <li>The manage.py is a wrapper around <span class="CLI-font">django-admin</span>.</li>
                <li>The manage.py will be mainly used as it can read the settings of our application.
                    For example, if you straight away use <span class="CLI-font">django-admin runserver</span>
                    you will get an error saying settings are not configured.
                </li>
                <li>To run the django application: <span class="CLI-font">python manage.py runserver 8080</span></li>
                <li>The 8080 above is just to provide a port number, its default is 8000.</li>
            </ul>

            <h3>Creating Your First App</h3>
            <ul>
                <li>A django project can contain multiple apps, and each app has its own responsibility.</li>
                <li>If you look at the INSTALLED_APPS of settings.py, you will see by default there are some django apps
                    being included in the project:
                </li>
                    <ul>
                        <li>django.contrib.admin</li>
                        <li>django.contrib.auth</li>
                        <li>django.contrib.contenttypes</li>
                        <li>django.contrib.sessions</li>
                        <li>django.contrib.messages</li>
                        <li>django.contrib.staticfiles</li>
                    </ul>
                <li>To create an app: <span class="CLI-font">python manage.py startapp your_app_name</span></li>
                <li>Then you will see a folder of your_app_name is created. Inside the folder, have these files:</li>
                    <ul>
                        <li>admin.py</li>
                            <ul>
                                <li>a place to define admin interface for this app</li>
                            </ul>
                        <li>apps.py</li>
                            <ul>
                                <li>a place to <b>configure</b> this app</li>
                            </ul>
                        <li>models.py</li>
                            <ul>
                                <li>a place to define model classes which pull out data from database</li>
                            </ul>
                        <li>tests.py</li>
                            <ul>
                                <li>a place to write unit test</li>
                            </ul>
                        <li>views.py</li>
                            <ul>
                                <li>a place to write <b>request handler</b></li>
                            </ul>
                    </ul>
                <li>Since we added new app to the project, we need to add the AppConfig class of the app into the INSTALLED_APPS in settings.py also.
                    For example:
                    <pre>
                        <code>
INSTALLED_APPS = [
    'django.contrib.admin',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    'my_app.apps.MyAppConfig'
]
                        </code>
                    </pre>
                </li>
            </ul>
                
            <h3>Writing View Functions & Mapping them to urls</h3>
            <ul>
                <li>As mentioned earlier, views.py is a place to write request handlers (view functions).</li>
                <li>A view function is a function that takes a request and returns a response.</li>
                <li>An example of simple view function is as below:</li>
                    <pre>
                        <code>
    from django.shortcuts import render
    from django.http import HttpResponse

    def say_hello(request):
        return HttpResponse('Hello World')                   
                        </code>
                    </pre>
                <li>Now we need to map this request handler to an url. Create a file called urls.py in your app directory.</li>
                <li>Update the content of the urls.py:</li>
                    <pre>
                        <code>
    from django.urls import path
    from .views import say_hello
    
    # urlpatterns is a special keyword being searched by django, make sure spell it correctly
    urlpatterns = [
        path('hello/', say_hello)
    ]
                        </code>
                    </pre>
                <li>Take note that what we did above is just writing urls for the app above. To include it into the django project,
                    we need to include it into the urls.py of django project:
                </li>
                    <pre>
                        <code>
    from django.contrib import admin
    from django.urls import path, include
    
    urlpatterns = [
        path('admin/', admin.site.urls),
        path('playground/', include('playground.urls'))
    ]
                        </code>
                    </pre>
                <li>With the configuration above, the url now is "playground/hello"</li>
            </ul>

            <h3>Writing templates</h3>
            <ul>
                <li>Templates in django is the html views</li>
                <li>Add a folder called 'templates' into your app directory.</li>
                <li>Put your html files into the templates folder.</li>
                <li>In the views.py snippet above, we returned a plain HttpResponse for the say_hello view function.
                    In order to return an html response, we need to use the 'render' function, and it is also 
                    where we render our templates:
                </li>
                    <pre>
                        <code>
    from django.shortcuts import render
    from django.http import HttpResponse

    def say_hello(request):
        return render(request, 'hello.html')
                        </code>
                    </pre>
                <li>We can also pass a dictionary to the render function, and then the html will be able to use the 
                    data in the dictionary. For example:
                </li>
                    <pre>
                        <code>
    def say_hello(request):
        return render(request, 'hello.html', &#123;'name': 'Andrew'})
                        </code>
                    </pre>
                <li>Then your hello.html can be something like:</li>
                    <pre>
                        <code>
    &#123;% if name %}
    &lt;h1>Hello &#123; &#123; name } }&lt;/h1>
    &#123;% else %}
    &lt;h1>Hello World&lt;/h1>
    &#123;% endif %}
                        </code>
                    </pre>
                <li>For more about django template language, refer to 
                    <a href="https://docs.djangoproject.com/en/4.1/ref/templates/language/#templates" target="_blank" rel="noopener noreferrer">this</a>
                </li>
            </ul>
            <mat-divider></mat-divider>
        </div>
        <div>
            <h2>Views, Routing and URLs</h2>
            <ul>
                <li>Dynamic Routing Example:</li>
                <ul>
                    <li>views.py</li>
                    <pre>
                        <code>
from django.http.response import HttpResponse, Http404

articles = &#123;
    'sports' : 'Sports Page',
    'finance' : 'Finance Page',
    'politics' : 'Politics Page',
}

def news_view(request, topic):
    try:
        return HttpResponse(articles[topic])
    except:
        raise Http404("404 Generic Error")
                        </code>
                    </pre>
                    <li>urls.py</li>
                    <pre>
                        <code>
from django.urls import path
from . import views

urlpatterns = [
    path('&lt;topic>', views.news_view),
]
                        </code>
                    </pre>
                </ul>
                <li>Using path converter in urls</li>
                <ul>
                    <li>urls.py</li>
                    <pre>
                        <code>
from django.urls import path
from . import views

urlpatterns = [
    path('&lt;str:topic>', views.news_view),
    path('add/&lt;int:num1>/&lt;int:num2>', views.addition_view),
    path('profile/&lt;uuid:user_uuid>', views.user_view),
]
                        </code>
                    </pre>
                </ul>
                <li>Using reverse() function to redirect url</li>
                <ul>
                    <li>urls.py</li>
                    <pre>
                        <code>
from django.urls import path
from . import views

urlpatterns = [
    path('&lt;str:topic>', views.news_view, name='topic-page'),
]
                        </code>
                    </pre>
                    <li>views.py</li>
                    <pre>
                        <code>
from django.urls import reverse
from django.http.response import HttpResponse, HttpResponseRedirect

articles = &#123;
    'sports' : 'Sports Page',
    'finance' : 'Finance Page',
    'politics' : 'Politics Page',
}

def news_view(request, topic):
    return HttpResponse(articles[topic])

def num_page_view(request, num_page):
    topics_list = list(articles.keys())
    topic = topics_list[num_page]
    return HttpResponseRedirect(reverse('topic-page', args=[topic]))

                        </code>
                    </pre>
                </ul>
            </ul>
            <mat-divider></mat-divider>
        </div>
        <div>
            <h2>Templates</h2>
            <ul>
                <li><a href="https://docs.djangoproject.com/en/4.1/ref/templates/builtins/"
                    target="_blank" rel="noopener noreferrer">Django Template filters and tags</a></li>
                <li>Using URL Names in Templates</li>
                <ul>
                    <li>urls.py</li>
                    <pre>
                        <code>
from django.urls import path
from . import views

# app_name and urlpatterns below are special variables that Django looks for in the urls.py

# Make sure the app_name matches your actuall name of the app
app_name = 'my_app'

# Remember to assign name to each path below so that they can be referenced in html
urlpatterns = [
    path('', views.sample_view, name='example'),
    path('variable/', views.variable_view, name='variable'),
]
                        </code>
                    </pre>
                    <li>example.html</li>
                    <pre>
                        <code>
&lt;body>
    &lt;h1>HELLLOOOO&lt;/h1>
    &lt;h1>&lt;a href="&#123;% url 'my_app:variable' %}">Click me to go variable page&lt;/a>&lt;/h1>
&lt;/body>
                        </code>
                    </pre>
                </ul>
                <li>Template Inheritance</li>
                <ul>
                    <li>base.html</li>
                    <pre>
                        <code>
&lt;html lang="en">
&lt;head>
    &lt;meta charset="UTF-8">
    &lt;meta http-equiv="X-UA-Compatible" content="IE=edge">
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0">
    &lt;title>Document&lt;/title>
&lt;/head>
&lt;body>
    &lt;h1>This is header&lt;/h1>
    &#123;% block my_base_block %}

    &#123;% endblock %}
    &lt;h1>This is footer&lt;/h1>
&lt;/body>
&lt;/html>
                        </code>
                    </pre>
                    <li>example.html</li>
                    <pre>
                        <code>
&#123;% extends 'base.html' %}

&#123;% block my_base_block %}
&lt;h1>HELLLOOOO&lt;/h1>
&lt;h1>&lt;a href="&#123;% url 'my_app:variable' %}">Click me to go variable page&lt;/a>&lt;/h1>
&#123;% endblock %}
                        </code>
                    </pre>
                    <li>variable.html</li>
                    <pre>
                        <code>
&#123;% extends 'base.html' %}

&#123;% block my_base_block %}
&lt;h1>Variable page&lt;/h1>
&#123;% endblock %}
                        </code>
                    </pre>
                </ul>
                <li>Custom 404 Template</li>
                <ul>
                    <li>Instead of adding try except in each view, we should generalize some templates
                        such as responses for status 404.
                    </li>
                    <li>Add a custom html file, for example: my_custom_404.html</li>
                    <li>In views.py of main project, write a function view that renders that html</li>
                    <pre>
                        <code>
from django.shortcuts import render

def my_custom_not_found_view(request, exception):
    return render(request, 'my_custom_404.html', status=404)
                        </code>
                    </pre>
                    <li>Add the following lines in urls.py of main project</li>
                    <pre>
                        <code>
# this handler404 is a specific variable that Django looks for
# there are more specific handlers such as handler500, handler403, handler400 etc
handler404 = 'my_site.views.my_custom_not_found_view'
                        </code>
                    </pre>
                    <li>Make sure you close the Debug mode in settings.py and also updated the DIR and ALLOW_HOST
                        in order to view it in Development mode.
                    </li>
                </ul>
            </ul>
            <mat-divider></mat-divider>
        </div>
        <div>
            <h2>Models, Databases, Queries</h2>
            <ul>
                <li>Example of models.py</li>
                <pre>
                    <code>
    from django.db import models

    class Patient(models.Model):
        id = models.BigAutoField(auto_created=True, primary_key= True)
        first_name = models.CharField(max_length=30)
        last_name = models.CharField(max_length=30)
        age = models.IntegerField(validators=[MinValueValidator(0), MaxValueValidator(120)])
        heartrate = models.IntegerField(default=60, validators=[MinValueValidator(1), MaxValueValidator(300)])    

        def __str__(self):
            return f"&#123;self.first_name} &#123;self.last_name} - &#123;self.age} years old"
                    </code>
                </pre>
                <li><a href="https://docs.djangoproject.com/en/4.1/ref/models/fields/"
                    target="_blank" rel="noopener noreferrer">Model fields reference</a></li>
                <li><a href="https://docs.djangoproject.com/en/4.1/ref/validators/#maxvaluevalidator"
                    target="_blank" rel="noopener noreferrer">Django validators</a></li>
                <li><span class="CLI-font">python manage.py makemigrations</span> creates the set of 
                    instructions that will apply changes to the database.</li>
                <li><span class="CLI-font">python manage.py migrate</span> runs any existing migrations.</li>
                <li><span class="CLI-font">python manage.py sqlmigrate [app-name] [migration-file-name]</span> doesn't actually
                run any migrations, it only shows the SQL code of the migration files.</li>
                <li>3 methods of creatin new data entries with a model:</li>
                <ul>
                    <li>Create Object and .save()</li>
                    <pre>
                        <code>
from first_app.models import Patient
carl = Patient(first_name='carl', last_name='smith', age=24)
carl.save()
                        </code>
                    </pre>
                    <li>objects.create()</li>
                    <pre>
                        <code>
from first_app.models import Patient
Patient.objects.create(first_name='Sam', last_name='Lim', age=24)
                        </code>
                    </pre>
                    <li>objects.bulk_create()</li>
                    <pre>
                        <code>
from first_app.models import Patient
p_list = [Patient(first_name='brian', last_name='smith', age=20), Patient(first_name='garfield', last_name='smith', age=27)]
Patient.objects.bulk_create(p_list)
                        </code>
                    </pre>                 
                </ul>
                <li>Something like "MyModels.objects" is a kind of Django Model Manager.</li>
                <ul>
                    <li>.all() returns the full list of objects</li>
                    <li>.get() can only return a single object, it will prompt error if there are multiple objects returned</li>
                    <pre>
                        <code>
Patient.objects.get(pk=1)
                        </code>
                    </pre>
                    <li>.filter()</li>
                    <pre>
                        <code>
Patient.objects.filter(last_name='smith').all()
Patient.objects.filter(last_name='smith').filter(age=30).all()

from django.db.models import Q
Patient.objects.filter(Q(last_name='smith') & Q(age=30)).all()
                        </code>
                    </pre>
                </ul>
                <li><a href="https://docs.djangoproject.com/en/4.1/ref/models/querysets/#field-lookups"
                    target="_blank" rel="noopener noreferrer">Field lookups</a></li>
                    <pre>
                        <code>
Patient.objects.filter(last_name__startswith='s').all()
Patient.objects.filter(age__in=[20,24,30]).all()
Patient.objects.filter(age__gte=20).all()
                        </code>
                    </pre>
            </ul>
            <mat-divider></mat-divider>
        </div>
        <div>
            <h2>Django Admin</h2>
            <ul>
                <li>To create a superuser: <span class="CLI-font">python manage.py createsuperuser</span></li>
                <li>Superuser is needed to access the Django adminstration page through /admin url.</li>
                <li>By default, the Django administration page already has the Authentication And Authorization
                    setting for you to configure the usergroups and users.s
                </li>
                <li>To register your model to the Django adminstration page (so that superusers can edit the 
                    models/database through admin page):
                </li>
                <ul>
                    <li>admin.py in first_app</li>
                    <pre>
                        <code>
from django.contrib import admin
from first_app.models import Patient

admin.site.register(Patient)
                        </code>
                    </pre>
                </ul>
                <li>For more advanced use case such as you want to modify the orders of fields displayed in
                    the django admin page:
                </li>
                <ul>
                    <li>admin.py in first_app</li>
                    <pre>
                        <code>
from django.contrib import admin
from first_app.models import Patient

class PatientAdmin(admin.ModelAdmin):
    fields = ['first_name', 'last_name']

admin.site.register(Patient, PatientAdmin)
                        </code>
                    </pre>
                </ul>
                <li>Or even if you want to make the fields grouped in to different categories:</li>
                <ul>
                    <li>admin.py in first_app</li>
                    <pre>
                        <code>
from django.contrib import admin
from first_app.models import Patient

class PatientAdmin(admin.ModelAdmin):
    fieldsets = [
        ('PERSONAL INFORMATION', &#123;'fields':['first_name', 'last_name', 'age']}),
        ('HEALTH INFORMATION', &#123;'fields':['heartrate']})
    ]

admin.site.register(Patient, PatientAdmin)
                        </code>
                    </pre>
                </ul>
                <li><a href="https://docs.djangoproject.com/en/4.1/ref/contrib/admin/"
                    target="_blank" rel="noopener noreferrer">More detailed reference</a></li>
            </ul>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
