<div class="flexContainer">    
    <div fxLayout="column" fxLayoutGap="10px">
        <h1>HTML & CSS Notes</h1>
        <div>
            <h2>Introduction</h2>
            <ul>
                <li>The main 3 languages of frontend web development are:</li>
                    <ul>
                        <li>HTML - Markup language</li>
                        <li>CSS - Styling Language</li>
                        <li>Javascript - Programming Language</li>
                    </ul>
                <li>If you are using VS Code for frontend web development, the following extensions are recommended:</li>
                    <ul>
                        <li>Prettier</li>
                        <li>Live Server</li>
                    </ul>
            </ul>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>