    <mat-drawer-container class="flexContainer">
        <mat-drawer id="sideDrawer" mode="side" [opened]="isSideDrawerOpened" style="background-color: rgb(61, 61, 61);">
            <mat-accordion displayMode="flat">
                <mat-expansion-panel style="margin-top: 5px;">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Coding
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <button mat-button class="listItem" routerLink="coding/general" routerLinkActive="technicalNotesRouterLinkActive">General</button>
                    <button mat-button class="listItem" routerLink="coding/dataStructures" routerLinkActive="technicalNotesRouterLinkActive">Data Structures</button>
                    <!-- <button mat-button class="listItem" routerLink="coding/cpp" routerLinkActive="technicalNotesRouterLinkActive">C++ // learcpp.com</button> -->
                    <!-- <button mat-button class="listItem" routerLink="coding/cpp-part2" routerLinkActive="technicalNotesRouterLinkActive">C++ Part2 // learcpp.com</button> -->
                    <button mat-button class="listItem" routerLink="coding/cpp-basics" routerLinkActive="technicalNotesRouterLinkActive">C++ Basics</button>
                    <button mat-button class="listItem" routerLink="coding/cpp-intermediate" routerLinkActive="technicalNotesRouterLinkActive">C++ Intermediate</button>
                    <button mat-button class="listItem" routerLink="coding/javaScript" routerLinkActive="technicalNotesRouterLinkActive">Javascript</button>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Algorithms
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <button mat-button class="listItem" routerLink="algorithms/dijsktra" routerLinkActive="technicalNotesRouterLinkActive">Dijsktra's Algorithm</button>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Robotics
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <button mat-button class="listItem" routerLink="robotics/ROS" routerLinkActive="technicalNotesRouterLinkActive">ROS</button>
                    <button mat-button class="listItem" routerLink="robotics/TurtleBot2" routerLinkActive="technicalNotesRouterLinkActive">TurtleBot2</button>
                    <button mat-button class="listItem" routerLink="robotics/UsefulResources" routerLinkActive="technicalNotesRouterLinkActive">Resources</button>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Web Development
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <button mat-button class="listItem" routerLink="webDevelopment/general" routerLinkActive="technicalNotesRouterLinkActive">General</button>
                    <button mat-button class="listItem">Angular</button>
                    <button mat-button class="listItem" routerLink="webDevelopment/sequelize" routerLinkActive="technicalNotesRouterLinkActive">Sequelize</button>
                    <button mat-button class="listItem" routerLink="webDevelopment/postgresql" routerLinkActive="technicalNotesRouterLinkActive">PostgreSQL</button>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Miscellaneous
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <button mat-button class="listItem" routerLink="miscellaneuos/npm" routerLinkActive="technicalNotesRouterLinkActive">npm</button>
                    <button mat-button class="listItem" routerLink="miscellaneuos/GitNotes" routerLinkActive="technicalNotesRouterLinkActive">Git Notes</button>
                    <button mat-button class="listItem" routerLink="miscellaneuos/GitLabCICD" routerLinkActive="technicalNotesRouterLinkActive">GitLab CI/CD</button>
                    <button mat-button class="listItem" routerLink="miscellaneuos/CMakeNotes" routerLinkActive="technicalNotesRouterLinkActive">CMake Notes</button>
                    <button mat-button class="listItem" routerLink="miscellaneuos/DockerNotes" routerLinkActive="technicalNotesRouterLinkActive">Docker Notes</button>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-drawer>
        <mat-drawer-content style="padding: 1.6em 3.2em; box-sizing: border-box; overflow: auto;">
            <button mat-button id="sideDrawerControl" fxShow="true" fxHide.gt-sm="true" (click)="toggleSideDrawer()">
                <fa-icon [icon]="faList" size="1x"></fa-icon>
            </button>
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>