$hoverBackgroundColor: rgb(102, 102, 102);
$hoverTextColor: white;
$normalTextColor: #d9d9d9;
$routerActiveBackgroundColor: #838383;
$routerActiveColor: rgb(95, 181, 231);

mat-panel-title {
    color: $normalTextColor;
    text-align: left;
    line-height: 18px;
    display: block;
    position: relative;
    padding-left: 0px !important;
    text-transform: uppercase;
}

mat-expansion-panel-header {
    padding-top: 8px;
    padding-bottom: 8px;
}

mat-expansion-panel-body {
    padding-bottom: 0px !important;
}

mat-expansion-panel-header:hover{
    background-color:$hoverBackgroundColor ;
}

mat-expansion-panel {
    color: rgb(95, 181, 231)
}

.listItem {
    text-transform: unset;
    white-space: normal;
    line-height: 1.2rem;
    font-size: 1rem;
    width: 100%;
    min-height: 30px;
    text-align: left;
    background-color: transparent;
    color: $normalTextColor;
    padding-top: 5px;
    padding-bottom: 5px;
}

.listItem:hover {
    background-color: $hoverBackgroundColor;
    color: $hoverTextColor;
    font-style: italic;
}

mat-drawer {
    width: 300px;
}

#sideDrawerControl {
    width: 100%;
    text-align: center;
    padding-top: 3px;
}

@media screen and (max-width: 590px) {
    #sideDrawer {
        width: 200px !important;
    }
}

.technicalNotesRouterLinkActive {
    background-color: $routerActiveBackgroundColor;
    color: $routerActiveColor;
    font-weight: bold;
}