    <mat-drawer-container class="flexContainer">
        <mat-drawer mode="side" opened displayMode="flat" style="background-color: rgb(61, 61, 61);">
            <mat-accordion>
                <mat-expansion-panel style="margin-top: 10px;">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            General
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <button mat-button>Design Pattern</button>
                    <button mat-button>Refactoring</button>
                </mat-expansion-panel>
                <mat-expansion-panel style="margin-top: 10px;">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Web Development
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <button mat-button>Sequelize</button>
                </mat-expansion-panel>
                <mat-expansion-panel style="margin-top: 10px;">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Image Processing
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <button mat-button>OpenCV</button>
                </mat-expansion-panel>
                <mat-expansion-panel style="margin-top: 10px;">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            How Tos
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <button mat-button>OpenCV</button>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-drawer>
        <mat-drawer-content>Main content</mat-drawer-content>
    </mat-drawer-container>