<div class="flexContainer">
    <mat-accordion displayMode="flat" style="padding-left: 5px; padding-right: 5px;">
        <mat-expansion-panel style="margin-top: 5px;">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    npm
                </mat-panel-title>
            </mat-expansion-panel-header>
            <button mat-button class="listItem" (click)="scrollTo('packageJson')">package.json vs package-lock.json</button>
        </mat-expansion-panel>
    </mat-accordion>
    <div fxLayout="column" fxLayout="column">
        <div>
            <h1>Npm</h1>
            <h2>Introduction</h2>
            <p>Node Package Manager (npm) is the package manager for Javascript mained by npm, Inc.</p>
            <p>npm is also the default package manager for Node.js</p>
            <mat-divider></mat-divider>
        </div>
        <div id="packageJson">
            <h2>package.json vs package-lock.json</h2>
            <p>The following are the notes summarized from this <a href="https://medium.com/dlt-labs-publication/package-json-vs-package-lock-json-c8d5deba12cb" target="_blank" rel="noopener noreferrer">Medium post</a>.</p>
            <ul>
                <li>package.json is the versioning file used to install different packages in a Node.js project</li>
                <li>Every time you install any package using <span style="font-style: italic;">npm install &lt;package-name> --save</span>, it will install the latest version of that package in your project.</li>
                <li>Then, the package.json of your project will be updated by adding the dependency of the newly installed package with a carat(^) sign.</li>
                <li>The carat (^) sign indicates that it will support any higher version within the same major version.</li>
                <li>For example, if you installed a lodash-es at version 4.17.21, then your package.json will have <span style="font-style: italic;">"lodash-es": "^4.17.21"</span>. If few months later the latest lodash-es package is 4.20.2, and when someone clones your package and run npm install, the lodash-es version installed will be 4.20.2</li>
                <li>Hence, to make sure the project is cloned and installed with exactly same dependencies, we need to have package-lock.json to lock the versions of packages we used.</li>
            </ul>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>