<div class="flexContainer">
    <div fxLayout="column">
        <div>
            <h1>C++ Basics</h1>
            <h2>Introduction</h2>
            <p>The following are mainly the notes summarized from <a href="https://www.learncpp.com/" target="_blank" rel="noopener noreferrer">learncpp.com</a>.</p>
            <p>Some uncommonly used notes are not included here.</p>
            <mat-divider></mat-divider>
        </div>

        <div>
            <h3>Basic Terminology</h3>
            <ul>
                <li>A named object is called a <strong>variable</strong>, and the name of the object is called an <strong>identifier</strong></li>
                <li>An <strong>argument</strong> is a value that is passed from the caller to the function</li>
                <li>Parameter vs Argument</li>
                    <ul>
                        <li>A <strong>function parameter</strong> is a variable used in a function.</li>
                        <li>An <strong>argument</strong> is a value that is passed from the caller to the function</li>
                    </ul>
                <li>Declaration vs Definition</li>
                    <ul>
                        <li>A <strong>declaration</strong> is a statement that tells the compiler about the existence of an identifier
                            and its type information.</li>
                        <li>A <strong>definition</strong> actually implements (for functions or types) or instantiates (for variables) the identifier.</li>
                    </ul>
                <li>Using this statement as example: int x&#123;2 + 3}</li>
                    <ul>
                        <li>'2' and '3' are <strong>literal</strong></li>
                        <li>'+' is <strong>operator</strong></li>
                        <li>'2 + 3' is <strong>expression</strong></li>
                    </ul>
                
            </ul>
        </div>
        <mat-divider></mat-divider>

        <div>
            <h3>Initilization</h3>
            <ul>
                <li>4 ways to initialize variables in C++:</li>
                    <ul>
                        <li>int a; // Uninitialized</li>
                        <li>int b = 5; // Copy Initialization (NOT RECOMMENDED)</li>
                        <li>int c(6); // Direct Initialization (NOT RECOMMENDED)</li>
                        <li>int d&#123;7}; // List Initilization or Uniform Initilization (RECOMMENDED)</li>
                    </ul>
                <li><b>List initialization</b> has the added benefit of disallowing “narrowing” conversions through error prompt.</li>
                    <ul>
                        <li>int a = 3.5; // will have warning</li>
                        <li>int b(3.5); // will have warning</li>
                        <li>int c&#123;3.5}; // will have error</li>
                    </ul>
            </ul>
        </div>
        <mat-divider></mat-divider>

        <div>
            <h3>Header Files: angled brackets &lt;> vs double quotes ""</h3>
            <ul>
            </ul>
        </div>
        <mat-divider></mat-divider>

        <div>
            <h3>Header Guards & #pragma once</h3>
            <ul>
            </ul>
        </div>
        <mat-divider></mat-divider>

        <div>
            <h3>Data Types: Best practices & important notes</h3>
            <ul>
            </ul>
        </div>
        <mat-divider></mat-divider>
        
        <div>
            <h3>static & extern || Internal Linkage & External Linkage</h3>
            <ul>
            </ul>
        </div>
        <mat-divider></mat-divider>
        
        <div>
            <h3>Static Local Variables</h3>
            <ul>
            </ul>
        </div>
        <mat-divider></mat-divider>

        <div>
            <h3>break vs return</h3>
            <ul>
            </ul>
        </div>
        <mat-divider></mat-divider>
        
        <div>
            <h3>typedef & type aliases</h3>
            <ul>
            </ul>
        </div>
        <mat-divider></mat-divider>
        
        <div>
            <h3>Function Overloading & Extern "C"</h3>
            <ul>
            </ul>
        </div>
        <mat-divider></mat-divider>


    </div>
</div>