
<div class="flexContainer" fxLayout="column"  style="height:100%; background-color: lightblue;" style="background-image: url('assets/images/lubo-minar-B-gb_8fgmz8-unsplash.jpg');   background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%; overflow: auto;" appBackgroundImageLoaded (imageLoaded)="loaded()">
    <mgl-timeline style="height:100%;" [alternate]="true" side="right" [mobileWidthThreshold]=1000>
        <mgl-timeline-entry>
            <mgl-timeline-entry-header><h3>My first time with robotics</h3></mgl-timeline-entry-header>
            <mgl-timeline-entry-content>
                <swiper [navigation]="true" class="mySwiper">
                    <ng-template swiperSlide>
                        <img class="imageInGallery" src="assets/images/Achievements/2016_01.jpg">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="imageInGallery" src="assets/images/Achievements/2016_02.jpg">
                    </ng-template>
                </swiper>            
            </mgl-timeline-entry-content>
            <mgl-timeline-entry-dot></mgl-timeline-entry-dot>
            <mgl-timeline-entry-side style="color: white;"><h2>2016</h2></mgl-timeline-entry-side>
        </mgl-timeline-entry>
        <mgl-timeline-entry>
            <mgl-timeline-entry-header><h3>RoboCup Asia Pacific 2017<br>RoboCup@Home Education League - Champion</h3></mgl-timeline-entry-header>
            <mgl-timeline-entry-content>
                <swiper [navigation]="true" class="mySwiper">
                    <ng-template swiperSlide>
                        <img class="imageInGallery" src="assets/images/Achievements/2017_01.jpg">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="imageInGallery" src="assets/images/Achievements/2017_02.jpg">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="imageInGallery" src="assets/images/Achievements/2017_03.jpg">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="imageInGallery" src="assets/images/Achievements/2017_04.jpg">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="imageInGallery" src="assets/images/Achievements/2017_05.jpg">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="imageInGallery" src="assets/images/Achievements/2017_06.jpg">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="imageInGallery" src="assets/images/Achievements/2017_07.jpg">
                    </ng-template>
                </swiper>            
            </mgl-timeline-entry-content>
            <mgl-timeline-entry-dot></mgl-timeline-entry-dot>
            <mgl-timeline-entry-side style="color: white;"><h2>2017</h2></mgl-timeline-entry-side>
        </mgl-timeline-entry>
        <mgl-timeline-entry>
            <mgl-timeline-entry-header><h3>President of UTM Airost Team</h3></mgl-timeline-entry-header>
            <mgl-timeline-entry-content>
                <swiper [navigation]="true" class="mySwiper">
                    <ng-template swiperSlide>
                        <img class="imageInGallery" src="assets/images/Achievements/2018_01.jpg">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="imageInGallery" src="assets/images/Achievements/2018_02.jpg">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="imageInGallery" src="assets/images/Achievements/2018_03.jpg">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="imageInGallery" src="assets/images/Achievements/2018_04.jpg">
                    </ng-template>
                </swiper>            
            </mgl-timeline-entry-content>
            <mgl-timeline-entry-dot></mgl-timeline-entry-dot>
            <mgl-timeline-entry-side style="color: white;"><h2>2018</h2></mgl-timeline-entry-side>
        </mgl-timeline-entry>
        <mgl-timeline-entry>
            <mgl-timeline-entry-header><h3>Internship at Intel Malaysia</h3></mgl-timeline-entry-header>
            <mgl-timeline-entry-content>
                <swiper [navigation]="true" class="mySwiper">
                    <ng-template swiperSlide>
                        <img class="imageInGallery" src="assets/images/Achievements/2019_internship01.jpg">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="imageInGallery" src="assets/images/Achievements/2019_internship02.jpg">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="imageInGallery" src="assets/images/Achievements/2019_internship03.jpg">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="imageInGallery" src="assets/images/Achievements/2019_internship04.jpg">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="imageInGallery" src="assets/images/Achievements/2019_internship05.jpg">
                    </ng-template>
                </swiper>            
            </mgl-timeline-entry-content>
            <mgl-timeline-entry-dot></mgl-timeline-entry-dot>
            <mgl-timeline-entry-side style="color: white;"><h2>2019</h2></mgl-timeline-entry-side>
        </mgl-timeline-entry>
        <mgl-timeline-entry>
            <mgl-timeline-entry-header><h3>NI Autonomous Robotics Competition 2019<br>Champion</h3></mgl-timeline-entry-header>
            <mgl-timeline-entry-content>
                <swiper [navigation]="true" class="mySwiper">
                    <ng-template swiperSlide>
                        <img class="imageInGallery" src="assets/images/Achievements/2019_01.jpg">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="imageInGallery" src="assets/images/Achievements/2019_02.jpg">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="imageInGallery" src="assets/images/Achievements/2019_03.jpg">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="imageInGallery" src="assets/images/Achievements/2019_04.jpg">
                    </ng-template>
                </swiper>            
            </mgl-timeline-entry-content>
            <mgl-timeline-entry-dot></mgl-timeline-entry-dot>
            <mgl-timeline-entry-side style="color: white;"><h2>2019</h2></mgl-timeline-entry-side>
        </mgl-timeline-entry>
    </mgl-timeline>
</div>
