<div class="flexContainer" style="background-image: url('assets/images/lubo-minar-B-gb_8fgmz8-unsplash.jpeg'); background-attachment: fixed; background-size: 100% 100%;" appBackgroundImageLoaded (imageLoaded)="loaded()">
    <div class="main-timeline">
        <div class="timeline left">
            <div class="card border-dark">
                <div class="card-header">
                    <h4 class="fw-bold">[2016] My first time with robotics</h4>    
                </div>
                <div class="card-body">
                    <swiper [navigation]="true" class="mySwiper">
                        <ng-template swiperSlide>
                            <img class="imageInGallery" src="assets/images/Achievements/2016_01.jpeg">
                        </ng-template>
                        <ng-template swiperSlide>
                            <img class="imageInGallery" src="assets/images/Achievements/2016_02.jpeg">
                        </ng-template>
                        <ng-template swiperSlide>
                            <img class="imageInGallery" src="assets/images/Achievements/2016_solidworks.jpeg">
                        </ng-template>
                        <ng-template swiperSlide>
                            <img class="imageInGallery" src="assets/images/Achievements/2016_lineFollowingRobot.jpeg">
                        </ng-template>
                    </swiper>
                </div>
            </div>
        </div>
        <div class="timeline right">
            <div class="card border-dark">
                <div class="card-header">
                    <h4 class="fw-bold">[2017] RoboCup Asia Pacific<br>RoboCup@Home Education League - Champion</h4>    
                </div>
                <div class="card-body">
                    <swiper [navigation]="true" class="mySwiper">
                        <ng-template swiperSlide>
                            <img class="imageInGallery" src="assets/images/Achievements/2017_01.jpeg">
                        </ng-template>
                        <ng-template swiperSlide>
                            <img class="imageInGallery" src="assets/images/Achievements/2017_02.jpeg">
                        </ng-template>
                    </swiper>
                </div>
            </div>
        </div>
        <div class="timeline left">
            <div class="card border-dark">
                <div class="card-header">
                    <h4 class="fw-bold">[2018] President of UTM Airost Team</h4>    
                </div>
                <div class="card-body">
                    <swiper [navigation]="true" class="mySwiper">
                        <ng-template swiperSlide>
                            <img class="imageInGallery" src="assets/images/Achievements/2018_01.jpeg">
                        </ng-template>
                        <ng-template swiperSlide>
                            <img class="imageInGallery" src="assets/images/Achievements/2018_02.jpeg">
                        </ng-template>
                    </swiper>
                </div>
            </div>
        </div>
        <div class="timeline right">
            <div class="card border-dark">
                <div class="card-header">
                    <h4 class="fw-bold">[2018] The Great Lab Grand Design Challenge<br>Silver Award</h4>    
                </div>
                <div class="card-body">
                    <swiper [navigation]="true" class="mySwiper">
                        <ng-template swiperSlide>
                            <img class="imageInGallery" src="assets/images/Achievements/2018_TGL.jpeg">
                        </ng-template>
                    </swiper>
                </div>
            </div>
        </div>
        <div class="timeline left">
            <div class="card border-dark">
                <div class="card-header">
                    <h4 class="fw-bold">[2019] NI Autonomous Robotics Competition<br>Champion</h4>    
                </div>
                <div class="card-body">
                    <swiper [navigation]="true" class="mySwiper">
                        <ng-template swiperSlide>
                            <img class="imageInGallery" src="assets/images/Achievements/2019_01.jpeg">
                        </ng-template>
                        <ng-template swiperSlide>
                            <img class="imageInGallery" src="assets/images/Achievements/2019_02.jpeg">
                        </ng-template>
                        <ng-template swiperSlide>
                            <img class="imageInGallery" src="assets/images/Achievements/2019_03.jpeg">
                        </ng-template>
                    </swiper>
                </div>
            </div>
        </div>
        <div class="timeline right">
            <div class="card border-dark">
                <div class="card-header">
                    <h4 class="fw-bold">[2021] Agile Project Management Training</h4>    
                </div>
                <div class="card-body">
                    <swiper [navigation]="true" class="mySwiper">
                        <ng-template swiperSlide>
                            <img class="imageInGallery" src="assets/images/Achievements/2021_agileProjectManagement.jpeg">
                        </ng-template>
                    </swiper>
                </div>
            </div>
        </div>
        <div class="timeline left">
            <div class="card border-dark">
                <div class="card-header">
                    <h4 class="fw-bold">[2022] Udacity Nanodegree<br>Robotics Software Engineer</h4>    
                </div>
                <div class="card-body">
                    <swiper [navigation]="true" class="mySwiper">
                        <ng-template swiperSlide>
                            <img class="imageInGallery" src="assets/images/Achievements/2022_UdacityNanodegree.jpeg">
                        </ng-template>
                    </swiper>
                </div>
            </div>
        </div>
    </div>
</div>
