<mat-toolbar fxLayout="row" fxLayoutAlign="start center" style="padding: 20px 50px;">
    <div fxLayout="column" fxLayoutAlign="center center">
        <p style="font-size: 30px; margin: 0px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" >Tan Kui An Andrew</p>
        <span style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Mechatronics Graduate | R&D Enginner</span>
    </div>
    <span class="app-spacer"></span>
    <div fxFlexAlign="start center" fxLayoutGap="10px">
        <button mat-button class="topbarButtons">Home</button>
        <span>|</span>
        <button mat-button  class="topbarButtons">My Stories</button>
        <span>|</span>
        <button mat-button class="topbarButtons">Projects</button>
        <span>|</span>
        <button mat-button class="topbarButtons">Resume</button>
    </div>
</mat-toolbar>