<mat-toolbar fxLayout="row" fxLayoutAlign="start center" style="padding: 10px 50px; height: 78px;">
    <div fxLayout="column" fxLayoutAlign="center center">
        <p id="name" style="font-size: 30px; margin: 0px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" >Tan Kui An Andrew</p>
        <span id="title" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Mechatronics Graduate | R&D Software Enginner</span>
    </div>
    <span class="app-spacer"></span>

    <div fxShow="true" fxHide.lt-lg="true" fxFlexAlign="start center" fxLayoutGap="10px">
        <button mat-button class="topbarButtons" [routerLink]="['home']" routerLinkActive="lightThemeRouterLinkActive">Home</button>
        <span>|</span>
        <button mat-button class="topbarButtons" [routerLink]="['resume']">Resume</button>
        <!--self introduction, skills, work experience, education, -->
        <span>|</span>
        <button mat-button class="topbarButtons" [routerLink]="['achievements']" routerLinkActive="lightThemeRouterLinkActive">Achievements</button> <!--Robocup, TGL, NI ARC-->
        <span>|</span>
        <!-- <button mat-button class="topbarButtons">Projects</button>-->
        <!-- <span>|</span> -->
        <button mat-button class="topbarButtons" [routerLink]="['technicalNotes']" routerLinkActive="lightThemeRouterLinkActive">Technical Notes</button>
    </div>

    <div id="topBarMenuButton" fxShow="true" fxHide.gt-md="true" (click)="toggleMenu()">
        <fa-icon [icon]="faBars" size="2x"></fa-icon>
    </div>
</mat-toolbar>