<mat-toolbar style="padding: 10px 50px; height: 78px;">
    <div class="flex-col" style="align-items: center">
        <p id="name" style="font-size: 30px; margin: 0px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" >Tan Kui An Andrew</p>
        <span id="title" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Robotics Software Enginner</span>
    </div>
    <span class="app-spacer"></span>

    <div id="navBar">
        <button mat-button class="topbarButtons" [routerLink]="['home']" routerLinkActive="lightThemeRouterLinkActive">Home</button>
        <span>|</span>
        <button mat-button class="topbarButtons" [routerLink]="['resume']" routerLinkActive="lightThemeRouterLinkActive">Resume</button>
        <span>|</span>
        <button mat-button class="topbarButtons" [routerLink]="['projects']" routerLinkActive="lightThemeRouterLinkActive">Projects</button>
        <span>|</span>
        <button mat-button class="topbarButtons" [routerLink]="['achievements']" routerLinkActive="lightThemeRouterLinkActive">Achievements</button>
        <span>|</span>
        <button mat-button class="topbarButtons" [routerLink]="['technicalNotes']" routerLinkActive="lightThemeRouterLinkActive">Technical Notes</button>
    </div>

    <div id="topBarMenuButton" (click)="toggleMenu()">
        <fa-icon [icon]="faBars" size="2x"></fa-icon>
    </div>
</mat-toolbar>