<div class="flexContainer">
    <div fxLayout="column" fxLayout="column">
        <h1>Useful Resources</h1>
        <table>
            <tr>
                <th>Title/Link</th>
                <th> Description</th>
            </tr>

            <tr>
                <td><a href="https://www.youtube.com/watch?v=6mysfrcOABY&list=PLaTKfS3-bDpDyOwrxLcQRGxY9XJw33ANo&index=10" target="_blank" rel="noopener noreferrer">
                Mobile Robot Systems Course</a></td>
                <td>A YouTube playlist of University Cambridge lectures.</td>
            </tr>

            <tr>
                <td><a href="https://www.youtube.com/watch?v=yn638LmVwlw&t=1527s" target="_blank" rel="nopener noreferrer">
                    ROS1 vs ROS2 - Practical Overview for ROS Developer</a></td>
                <td>A YouTube video explaining the main differences between ROS1 and ROS2</td>
            </tr>
            
            <tr>
                <td><a href="https://www.youtube.com/watch?v=5nZc5iSr5is&list=PLiiw0aSVHcAkF26qR6Q7x6RlLAL6-vuF3&index=1" target="_blank" rel="noopener noreferrer">
                    ROS Navigation</a></td>
                <td>A YouTube playlist of ROS Navigation Tutorials by The Construct</td>
            </tr>

            <tr>
                <td><a href="https://commons.trincoll.edu/trinityrobotics/basic-odometry-and-localization/" target="_blank" rel="noopener noreferrer">
                    tf tutorials (deprecated)</a></td>
                <td>ROS Wiki tf tutorials (ROS Fundamental)</td>
            </tr>

            <tr>
                <td><a href="https://commons.trincoll.edu/trinityrobotics/basic-odometry-and-localization/" target="_blank" rel="noopener noreferrer">
                    tf2 tutorials</a></td>
                <td>ROS Wiki tf2 tutorials (ROS Fundamental)</td>
            </tr>

            <tr>
                <td><a href="http://wiki.ros.org/navigation" target="_blank" rel="noopener noreferrer">
                    2D Navigation Stack</a></td>
                <td>The fundamental needed for Navigation in ROS</td>
            </tr>

            <tr>
                <td><a href="http://wiki.ros.org/amcl" target="_blank" rel="noopener noreferrer">
                    amcl</a></td>
                <td>ROS package for probabilistic Localization system of a moving robot in 2D (Navigation Fundamental)</td>
            </tr>

            <tr>
                <td><a href="https://commons.trincoll.edu/trinityrobotics/basic-odometry-and-localization/" target="_blank" rel="noopener noreferrer">
                    Basic Odometry and Localization</a></td>
                <td>An overview of how to get a more accurate odometry data by combining GPS and IMU data</td>
            </tr>

            <tr>
                <td><a href="https://www.udacity.com/course/artificial-intelligence-for-robotics--cs373#" target="_blank" rel="noopener noreferrer">Artificial Intelligence for Robotics</a></td>
                <td>A free Udacity Course that covers Localization, Kalman Filters, Particle Filters, Search, PID Control and SLAM.</td>
            </tr>

            <tr>
                <td><a href="http://wiki.ros.org/robot_pose_ekf" target="_blank" rel="noopener noreferrer">
                    robot_pose_ekf</a></td>
                <td>ROS package for estimating the 3D pose of a robot based on multiple inputs such as IMU, wheel odometry, visual odometry and GPS</td>
            </tr>
            <tr>
                <td><a href="https://osrf.github.io/ros2multirobotbook/intro.html" target="_blank" rel="noopener noreferrer">
                    Programming Multiple Robots with ROS 2</a></td>
                <td>An amazing work by Open Robotics</td>
            </tr>
            <tr>
                <td><a href="https://gaoyichao.com/Xiaotu/?book=ros&title=index" target="_blank" rel="noopener noreferrer">A ROS Tutorial Series written in Chinese</a></td>
                <li>Seems like a more organized version of Ros Wiki Tutorial</li>
            </tr>
            <tr>
                <td><a href="https://github.com/aws-robotics/aws-robomaker-small-warehouse-world" target="_blank" rel="noopener noreferrer">
                    Warehouse Gazebo World</a></td>
                <td>A Gazebo World made by AWS Robotics, useful for warehouse and logistics use cases</td>
            </tr>
            <tr>
                <td><a href="https://www.youtube.com/watch?v=lkyUqMVJBQ0" target="_blank" rel="noopener noreferrer">
                    Connecting ROS to Arduino</a></td>
                <td>A Youtube tutorial demonstrating how to use ROS to communicate with Arduino.</td>
            </tr>
        </table>
    </div>
</div>