<div fxLayout="column" fxLayoutGap="10px">
    <h1>Networking Notes</h1>

    <h2>Miscellaneous Notes</h2>
    <ul>
        <li>Networks are made up of various devices—computers, switches, routers—connected together by cables or wireless signals.</li>
        <li>When our browser surfs "www.google.com", it is actually making a DNS query and the DNS will return the ip address of the server that serves us the Google.com.</li>
        <li>A server listens for requests on specific ports.</li>
        
    </ul>
    <mat-divider></mat-divider>

    <h3>Client and Servers</h3>
    <ul>
        <li></li>
    </ul>

    <h3>IP Address & Ports</h3>
    <ul>
        <li>IP address = an address given to each machine connected to the public Internet.</li>
        <li>IPv4 addresses consist of four numbers separated by dots and all the four numbers are between 0 and 255.</li>
        <li>localhost IP address = 127.0.0.1</li>
        <li>IP address of private network = 192.168.x.y (For example, every device that connected to the same private wifi network will have the same prefix)</li>
        <li>Any machine that has a distinct IP address has 2^16 ports in total (between 0 and 65535).</li>
        <li>Ports 0-1023 are reserved for system ports and should not be used by user-level processes.</li>
        <li>If a client is trying to speak to a server using HTTP protocol, it's always going to use port 80.</li>
        <li>Some ports with pre-defined uses:</li>
            <ul>
                <li>22: Secure Shell</li>
                <li>53: DNS lookup</li>
                <li>80: HTTP</li>
                <li>443: HTTPS</li>
            </ul>
    </ul>
    <mat-divider></mat-divider>
    
    <h3>Switches</h3>

    <h3>Routers</h3>

    <h3>Wireless Access Points</h3>

    <h3>DHCP vs Static</h3>

    <h3>ifconfig/ipconfig information explained</h3>
    <ul>
        <li><a href="https://codewithyury.com/demystifying-ifconfig-and-network-interfaces-in-linux/#:~:text=ifconfig%20is%20a%20command%20line,is%20used%20for%20network%20diagnostics." target="_blank" rel="noopener noreferrer">Reference</a></li>
    </ul>

    <h3>Remote Desktop Access to Ubuntu</h3>
    <ul>
        <li><a href="https://www.makeuseof.com/tag/how-to-establish-simple-remote-desktop-access-between-ubuntu-and-windows/" target="_blank" rel="noopener noreferrer">Reference</a></li>
    </ul>

</div>